<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chef Library </title>

   <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
 
    <!--Bootstrap-->
    <link rel="stylesheet" href="css/bootstrapnew.css">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <!--Custom CSS-->
 <link rel="stylesheet" href="css/style.css"> 

    <!--Bootstrap Fonts-->
    
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

     <script src="js/libs/modernizr-2.5.3.min.js"></script>
  
  
</head>
<body>
<!--
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid"> -->
       <!-- Brand and toggle get grouped for better mobile display -->
  <!--  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
  <h2> Relevance Lab Chef Library </h2>
       </div> --> <!--Navbar Header ends--> 
    </div> <!--Container Fluid Ends-->
</nav> <!--navigation bar ends-->
  
    
    
        <div class="content1">
            
            <h3 style="margin-left: 15px">Chef Library</h3>
 <!--       <ul>

   
   <li><i class="fa fa-play-circle-o"></i> Oracle</a></li>
        
   <li><i class="fa fa-play-circle-o"></i> mysql</a></li>
       <li><i class="fa fa-play-circle-o"></i> Jenkins</a></li>
            
   </ul> -->
   <a style="margin-left:120px" href="Page1.html">See All <i class="fa fa-arrow-circle-right"></i></a>
   </div> <hr> 
    
    
    <!--Main Page Begins-->
         
    <div class="content">

      
       <div class="left"> 
           <div class="panel panel-success">
              <div class="panel-heading">
    <h3 style="margin-left: 15px" class="panel-title"><a href="SystemAdmin.html">System Admin</a></h3></div>
                  <div class="panel-body">  
             
  
           
    


<ul>
  <li><i class="fa fa-play-circle-o"></i> Automount</a></li>
  
   
  <li><i class="fa fa-play-circle-o"></i> Buildrpms</a></li>
  
  
   </ul>
                      <div class="panel-footer">
        <a  href="SystemAdmin.html">See All <i class="fa fa-arrow-circle-right"></i></a></div> 
    <!--
  <td>HostName</td>
  <td>HostName-Linux<br>HostName-Windows</td>                
  <td>RL</td>
  <td></td>
    <td>Setup<br>Configure<br>Start<br>Stop</td>
</tr>
<tr>
  <td>Java</td>
  <td>Java-Install</td>                
  <td>RL</td>
  <td></td>
    <td>Setup<br>Configure<br>Start<br>Stop</td>
</tr>
<tr>
  <td>Monitoring</td>
  <td>Monitoring-Linux</td>                
  <td>RL</td>
  <td></td>
    <td>Setup<br>Configure<br>Start<br>Stop</td>
</tr>
<tr>
  <td>motd</td>
  <td>motd-Linux & Solaris</td>                
  <td>RL</td>
  <td></td>
    <td>Setup<br>Configure<br>Start<br>Stop</td>
</tr>
<tr>
  <td>NIS</td>
  <td>NIS-Redhat<br>NIS-Suse<br>NIS-Solaris</td>                
  <td>RL</td>
  <td></td>
    <td>Setup<br>Configure<br>Start<br>Stop</td>
</tr>
<tr>
  <td>NTP</td>
  <td>NTP-Linux<br>NTP-Solaris</td>                
  <td>RL</td>
  <td></td>
    <td>Setup<br>Configure<br>Start<br>Stop</td>
</tr>
<tr>
  <td>Profile</td>
  <td>Profile-Redhat<br>Profile-Suse<br>Profile-Solaris</td>                
  <td>RL</td>
  <td></td>
    <td>Setup<br>Configure<br>Start<br>Stop</td>
</tr>

<tr>
  <td>repomanager</td>
  <td>repomanager-Redhat<br>repomanager-Suse</td>                
  <td>RL</td>
  <td></td>
    <td>Setup<br>Configure<br>Start<br>Stop</td>
</tr>

<tr>
  <td>Ulimit</td>
  <td>Ulimit-Linux<br>Ulimit-Solaris</td>                
  <td>RL</td>
  <td></td>
    <td>Setup<br>Configure<br>Start<br>Stop</td>
</tr>

<tr>
  <td>User</td>
  <td>User-Solaris<br>User-Windows</td>                
  <td>RL</td>
  <td></td>
    <td>Setup<br>Configure<br>Start<br>Stop</td>
</tr>
    </tbody>
</table>-->
    </div> </div> </div>
<!--System Admin Ends-->

<!--Applications Begin-->
       
<div class="right"> 
    <div class="panel panel-success">
              <div class="panel-heading">
    <h3 style="margin-left: 15px" class="panel-title"><a href="Application.html">Application</a></h3></div>
                  <div class="panel-body">  
      
             
  
           
    


<ul>
  <li><i class="fa fa-play-circle-o"></i> SybaseClient</a></li>
  
  
  <li><i class="fa fa-play-circle-o"></i> slz app deploy</a></li>
  
  
   </ul> <div class="panel-footer">
        <a  href="Application.html">See All <i class="fa fa-arrow-circle-right"></i></a> </div>
    <!--
  <td>sybaseclient</td>
  <td>sybase-Redhat<br>sybase-suse<br>sybase-windows</td>                               
  <td>RL</td>
  <td></td>
    <td>Setup<br>Configure<br>Start<br>Stop</td>
  </tr>
<tr>
  <td>slz app deploy</td>
  <td>slz_app_deploy-linux</td>                  
  <td>RL</td>
  <td></td>
    <td>Setup<br>Configure<br>Start<br>Stop</td>
</tr>
<tr>
  <td>solrcloud</td>
  <td>solrinstall<br>tomcatinstall</td>                
  <td>RL</td>
  <td></td>
    <td>Setup<br>Configure<br>Start<br>Stop</td>
</tr>
<tr>
  <td>zookeeper</td>
  <td>zookeeperinstall</td>                
  <td>RL</td>
  <td></td>
    <td>Setup<br>Configure<br>Start<br>Stop</td>
</tr>
</table>-->
    </div> </div></div>
<!--Applications Ends-->

        

<!--DataBase Servers-->
        
        <div class="rightright"> 
            <div class="panel panel-success">
              <div class="panel-heading">
    <h3 style="margin-left: 15px" class="panel-title"><a href="DataBase Servers.html">DataBase Servers</a></h3></div>
                  <div class="panel-body">  

   
       <ul>
  <li><i class="fa fa-play-circle-o"></i> mysql</a></li>
  
          
  <li><i class="fa fa-play-circle-o"></i> Oracle</a></li>


  </ul>
                       <div class="panel-footer"><a href="DataBase Servers.html">See More <i class="fa fa-arrow-circle-right"></i></a> </div></div></div></div>
 <!--Database Server Ends--> 

<!--Database Client Begins-->
        <div class="left">
            <div class="panel panel-success">
              <div class="panel-heading">
    <h3 style="margin-left: 15px" class="panel-title"><a href="DBC.html">DataBase Clients</a></h3></div>
                  <div class="panel-body">  



    
       <ul>
  <li><i class="fa fa-play-circle-o"></i> db2client</a></li>
  
  <li><i class="fa fa-play-circle-o"></i> informixclient</a></li>
  <!--
  <td>mssqlclient</td>
  <td>mssqlclient-Windows</td>                
  <td>RL</td>
  <td></td>
    <td>Setup<br>Configure<br>Start<br>Stop</td>
</tr>

<tr>
  <td>Oracleclient</td>
  <td>Oracle-Redhat<br>Oracle-Suse<br>Oracle-Solaris<br>Oracle-Windows</td>                
  <td>RL</td>
  <td></td>
    <td>Setup<br>Configure<br>Start<br>Stop</td>
</tr>
</table> --></ul> <div class="panel-footer"><a  href="DBC.html">See All <i class="fa fa-arrow-circle-right"></i></a>
  </div> </div></div></div>
 <!--Database Client Ends-->
 
        
      <!--Web Servers Begins-->
        <div class="right">
            <div class="panel panel-success">
              <div class="panel-heading">
    <h3 style="margin-left: 15px" class="panel-title"><a href="WebServers.html">Web Servers</a></h3></div>
                  <div class="panel-body"> 



   
       <ul>
  <li><i class="fa fa-play-circle-o"></i> apache2</a></li>
  
  <li><i class="fa fa-play-circle-o"></i> nginx</a></li>
  </ul>
                       <div class="panel-footer">
    <a  href="WebServers.html">See More <i class="fa fa-arrow-circle-right"></i></a>
   </div> </div> </div></div>

      <!--Web Servers Ends-->
        
      <!--Monitoring Begins-->
 <div class="rightright">
     <div class="panel panel-success">
              <div class="panel-heading">
    <h3 style="margin-left: 15px" class="panel-title"><a href="Monitoring.html">Monitoring</a></h3></div>
                  <div class="panel-body"> 



    
       <ul>

  <li><i class="fa fa-play-circle-o"></i> zabbix-server</a></li>
  
           
  <li><i class="fa fa-play-circle-o"></i> zabbix-agent</a></li>
  
           <!--
  <td>Nagios</td>
  <td>Nagios-Core</td>                
  <td>RL</td>
  <td></td>
    <td>Setup<br>Configure<br>Start<br>Stop</td>
</tr>
</table> -->
    </ul>
                      
                       <div class="panel-footer"><a href="Monitoring.html">See More <i class="fa fa-arrow-circle-right"></i></a>
   </div></div></div></div>
 
 <!--Monitoring Ends-->
       
<!--Utilities Begins-->
       <div class="left">
           <div class="panel panel-success">
              <div class="panel-heading">
    <h3 style="margin-left: 15px" class="panel-title"><a href="Util.html">Utilities</a></h3></div>
                  <div class="panel-body"> 


   
<ul>

  <li><i class="fa fa-play-circle-o"></i>  ark</a></li>
  
  <li><i class="fa fa-play-circle-o"></i>  apt</a></li>
  
    <!--
  <td>build-essential</td>
  <td>build-essential</td>                
  <td>Community Customized</td>
  <td></td>
    <td>Setup<br>Configure<br>Start<br>Stop</td>
</tr>

<tr>
  <td>yum-master</td>
  <td>yum-master</td>                
  <td>Community Customized</td>
  <td></td>
    <td>Setup<br>Configure<br>Start<br>Stop</td>
</tr>

<tr>
  <td>yum-epal</td>
  <td>yum-epel</td>                
  <td>Community Customized</td>
  <td></td>
    <td>Setup<br>Configure<br>Start<br>Stop</td>
</tr>

   <tr>
  <td>runit</td>
  <td>runit</td>                
  <td>Community Customized</td>
  <td></td>
       <td>Setup<br>Configure<br>Start<br>Stop</td>
</tr>

</table> --></ul>
                       <div class="panel-footer"><a  href="Util.html">See All <i class="fa fa-arrow-circle-right"></i></a>
   </div> 
    </div> </div></div>

      <!--Utilities Ends-->
       
<!--Development Begins--> 
        <div class="right">
            <div class="panel panel-success">
              <div class="panel-heading">
    <h3 style="margin-left: 15px" class="panel-title"><a href="Dev.html">Development</a></h3></div>
                  <div class="panel-body"> 


    
       <ul>
       
  <li><i class="fa fa-play-circle-o"></i> webapps</a></li>
  
  <li><i class="fa fa-play-circle-o"></i> -war</a></li>
<!--  <td></td>                  
  <td>Community Customized</td>
  <td></td>
    <td>Deploy<br>Deploy<br>Deploy<br>Deploy</td>
</tr>

<tr>
  <td>-jar</td>
  <td></td>                  
  <td>Community Customized</td>
  <td></td>
    <td>Deploy<br>Deploy<br>Deploy<br>Deploy</td>
</tr>
  <tr>
  <td>-property files</td>
  <td></td>                  
  <td>Community Customized</td>
  <td></td>
      <td>Deploy<br>Deploy<br>Deploy<br>Deploy</td>
</tr>

   <tr>
  <td>Custom Apps</td>
  <td>Custom Applications</td>                  
  <td>RL</td>
  <td></td>
       <td>Deploy<br>Deploy<br>Deploy<br>Deploy</td>
</tr>

</table> -->
    </ul> <div class="panel-footer">
                      <a href="Dev.html">See All <i class="fa fa-arrow-circle-right"></i></a>
   </div></div> </div></div>
      <!--Development Ends--> 
        
<!--CI/CD/Build Begins--> 
            <div class="rightright">
                <div class="panel panel-success">
              <div class="panel-heading">
    <h3 style="margin-left: 15px" class="panel-title"><a href="Build.html">CI/CD/Build</a></h3></div>
                  <div class="panel-body"> 


    
                <ul>
  <li><i class="fa fa-play-circle-o"></i> GIT</a></li>
  
  <li><i class="fa fa-play-circle-o"></i> Jenkins</a></li>
<!--  <td>Jenkins</td>                               
  <td>RL</td>
  <td></td>
               <td>Setup<br>Configure<br>Start<br>Stop</td>
  </tr>

           <tr>
  <td>Rundeck</td>
  <td>Rundeck</td>                               
  <td>RL</td>
  <td></td>
               <td>Setup<br>Configure<br>Start<br>Stop</td>
  </tr>

           </table>-->
    </ul>
                       <div class="panel-footer"><a href="Build.html">See All <i class="fa fa-arrow-circle-right"></i></a>
   </div></div>
  </div></div>
<!--CI Ends--> 
    
    <!--Testing Begins-->
                <div class="left">
                    <div class="panel panel-success">
              <div class="panel-heading">
    <h3 style="margin-left: 15px" class="panel-title"><a href="Test.html">Testing</a></h3></div>
                  <div class="panel-body"> 



    
                    <ul>

  <li><i class="fa fa-play-circle-o"></i> TestRail</a></li>

                      
                        
 <!-- <td>TestRail</td>                               
  <td>RL</td>
  <td></td>
    <td>Setup<br>Configure<br>Start<br>Stop</td>
  </tr>

           
           </table>
   --> </ul> <br> <div class="panel-footer">
                      <a href="Test.html">See More <i class="fa fa-arrow-circle-right"></i></a>
   </div></div></div></div>
<!--Testing Ends-->
        
<!--Planning Begins-->
                    <div class="right">
                        <div class="panel panel-success">
              <div class="panel-heading">
    <h3 style="margin-left: 15px" class="panel-title"><a href="Plan.html">Planning</a></h3></div>
                  <div class="panel-body"> 


  
    
                        <ul>
  <li><i class="fa fa-play-circle-o"></i> Jira</a></li>
 
  <li><i class="fa fa-play-circle-o"></i> Confluence</a></li>
 <!-- <td>Confluence</td>                               
  <td>RL</td>
  <td></td>
    <td>Setup<br>Configure<br>Start<br>Stop</td>
  </tr>

<tr>
  <td>Crowd</td>
  <td>Crowd</td>                               
  <td>RL</td>
  <td></td>
    <td>Setup<br>Configure<br>Start<br>Stop</td>
  </tr>
</table> -->
     </ul>
                       <div class="panel-footer"><a href="Plan.html">See All <i class="fa fa-arrow-circle-right"></i></a>
   </div></div></div></div>
      
  <!--Planning Ends-->    
      
       </div></div>
 
    <footer></footer>


     

  <!-- scripts concatenated and minified via build script -->

    <!--Bootstrap JS-->
    <script src="js/bootstrap.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>

  <!-- end scripts -->

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
	
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
 </script>

    
  
</body>
</html>