<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CookBooks </title>
 
    <!--Bootstrap-->
    <link rel="stylesheet" href="css/bootstrapnew.css">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <!--Custom CSS-->
 <link rel="stylesheet" href="css/style.css"> 

    <!--Bootstrap Fonts-->
    
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

     <script src="js/libs/modernizr-2.5.3.min.js"></script>
  
  
</head>
<body>


  
    
    
        <div class="content1">
            
            <h3 style="margin-left: 90px">Chef Library</h3>
       <hr>

   <div class="left1">
   <h4>-jar</a></h4>
            <p>Recipes:-jar</p>
            <p>Authored By:Customized</p>
            
            <p>Category: <a href="Dev.html">Development</a></p>
   
            
   
   
    <hr> </div>

            <div class="right1">
    
            <h4>-property files</a></h4>
            <p>Recipes:-property files</p>
            <p>Authored By:Customized</p>
            
            <p>Category: <a href="Dev.html">Development</a></p> <hr>
    </div>

            <div class="rightright1">
            <h4>Custom Apps</a></h4>
            <p>Recipes:Custom Applications</p>
            <p>Authored By:Customized</p>
            
            <p>Category: <a href="Dev.html">Development</a></p>
            
            <hr></div>

                <div class="left1">
<h4>Monitoring</a></h4>
            <p>Recipes:Monitoring-Linux</p>
            <p>Authored By:Relevance Lab</p>
            
            <p>Category: <a href="SystemAdmin.html">System Admin</a></p>

            <hr>
            </div>

            <div class="right1">
            <h4>motd</a></h4>
            <p>Recipes:motd-Linux & Solaris</p>
            <p>Authored By:Relevance Lab</p>
            
            <p>Category: <a href="SystemAdmin.html">System Admin</a></p>

            <hr> </div>

            <div class="rightright1">
            
            <h4>NIS</a></h4>
            <p>Recipes:NIS-Redhat; NIS-Suse</p>
            <p>Authored By:Relevance Lab</p>
            
            <p>Category: <a href="SystemAdmin1.html">System Admin</a></p>

            <hr>
</div>

<div class="left1">
   <h4>Rundeck</a></h4>
            <p>Recipes:Rundeck</p>
            <p>Authored By:Relevance Lab</p>
            
            <p>Category: <a href="Build.html">CI/CD/Build</a></p>
   
            
   
   
    <hr> </div>
            <div class="right1">

    <h4>NTP</a></h4>
            <p>Recipes:NTP-Linux; NTP-Solaris</p>
            <p>Authored By:Relevance Lab</p>
            
            <p>Category: <a href="SystemAdmin1.html">System Admin</a></p>
   
            
   
   
    <hr> 
            
            
            </div>

            <div class="rightright1">

    <h4>Profile</a></h4>
            <p>Recipes:Profile-Redhat;Profile-Suse</p>
            <p>Authored By:Relevance Lab</p>
            
            <p>Category: <a href="SystemAdmin1.html">System Admin</a></p>
   
            
   
   
    <hr> 
            
            
            </div>




            <ul class="pagination">
  <li><a href="Page4.html">&laquo;</a></li>
  <li><a href="Page1.html">1</a></li>
  <li ><a href="Page2.html">2</a></li>
  <li><a href="Page3.html">3</a></li>
  <li><a href="Page4.html">4</a></li>
  <li class="active"><a href="#">5</a></li>
                <li><a href="Page6.html">6</a></li>
  
</ul>

</div></div>
 
    <footer></footer>


     

  <!-- scripts concatenated and minified via build script -->

    <!--Bootstrap JS-->
    <script src="js/bootstrap.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>

  <!-- end scripts -->

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
	
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
 </script>

    
  
</body>
</html>