<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Planning </title>
 
    <!--Bootstrap-->
    <link rel="stylesheet" href="css/bootstrapnew.css">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <!--Custom CSS-->
 <link rel="stylesheet" href="css/style.css"> 

    <!--Bootstrap Fonts-->
    
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

     <script src="js/libs/modernizr-2.5.3.min.js"></script>
  
  
</head>
<body>


  
    
    
        <div class="content1">
            
            <h3 style="margin-left: 95px">Chef Library For <span style="color:#a94442">Planning</span></h3>
       <hr>   

   <div class="left1">
   
            <h4>Jira</h4>
            <p>Recipes:Jira</p>
            <p>Authored By:Relevance Lab</p>
            
            <p>Category: <a href="#">Planning</a></p> <hr>
    </div>
            
</div>

            <div class="right1">
                <h4>Confluence</h4>
            <p>Recipes:Planning</p>
            <p>Authored By:Relevance Lab</p>
            
            <p>Category: <a href="#">Planning</a></p>
            
            <hr>
            
            </div>

    <div class="rightright1">
             <h4 style="margin-left: 20px">Crowd</h4>
            <p style="margin-left: 20px">Recipes:Crowd</p>
            <p style="margin-left: 20px">Authored By:Relevance Lab</p>
            
            <p style="margin-left: 20px">Category: <a href="#">Planning</a></p>

            <hr></div>
    <div style="margin-top: 200px;margin-left: 110px">
            <ul class="pagination">
  <li><a href="Chef.html">&laquo;</a></li>
  <li class="active"><a href="#">1</a></li>
  </ul></div>
         
             </div>

           
 
      
       
 
    <footer></footer>


     

  <!-- scripts concatenated and minified via build script -->

    <!--Bootstrap JS-->
    <script src="js/bootstrap.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>

  <!-- end scripts -->

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
	
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
 </script>

    
  
</body>
</html>