header
{  
 width: 100%;

 background-image: linear-gradient(to bottom, #FFFFFF 0%, #EEEEEE 100%);
    
    
 border-bottom: 1px solid #CCCCCC;

  
}
#wrapper {
  padding-left: 0;
}


#page-wrapper {
  /*width: 82%;
  padding: 5px 15px;
  float: right;*/
}


body {
    background: url(../img/body.png);
}
.logotext {
    position: relative;
    top: 4px;
    color: buttonface;
    font-size: 22px;
}



.navbar
{
    border-radius: 0px!important;
    margin-bottom: 0px!important;
    min-height: 63px!important;
    
}

.navbar-nav > li > a
{
    padding-top: 20px!important;
    font-size: 15px;
    color: buttonface!important;
}

nav ul
{
    padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 0.5em;
  list-style: none;
  position: relative;    
}
nav ul b
{
    float: right;
font-size: 14px;
}
.breadcrumb1
{
    border-radius: 4px;
    list-style: none outside none;
    margin-bottom: 20px;
    padding: 8px 15px;
    margin-bottom:0px!important;
    background-color: #3a3633!important;
    
}

.breadcrumb1 > .active
{
    color: #a8a8a8!important;
}

.breadcrumb1 > li + li:before{
    color: #ccc;
    content: " ";
    padding: 0 5px;
}
.breadcrumb1 > li {
    display: inline-block;
}

.row .date-picker {
    margin-top: -8px;
    margin-right: -15px;
}
.row .date-range {
display: none;
}

.btn-reportrange {
    height: 36px;
    padding-top: 8px;
    border: none;
}

.btn-green {
    border-color: #15987e;
    color: #fff;
    /*background-color: #16a085;*/
    background-color: #40baf1;
}

/* -- Circle Tiles */

.circle-tile {
    
    margin-bottom: 15px;
    text-align: center;
    
    
}

.circle-tile-heading {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto -40px;
    border: 3px solid rgba(255,255,255,0.3);
    border-radius: 50%;
    color: #fff;
    transition: all ease-in-out .3s;
}

.circle-tile-heading .fa {
    line-height: 80px;
}

.circle-tile-content {
    padding-top: 50px;
}

.circle-tile-number {
    padding: 5px 0 15px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}

.circle-tile-description {
    text-transform: uppercase;
}

.circle-tile-footer {
    display: block;
    padding: 5px;
    color: white;
    background-color: rgba(0,0,0,0.1);
    }


.circle-tile-footer:hover {
    text-decoration: none;
    color:#fff;
    background-color: rgba(0,0,0,0.2);
}

.circle-tile-heading.dark-blue:hover {
    background-color: #2c3e50;
   
}

.circle-tile-heading.green:hover {
    background-color: #2a4747;
}

.circle-tile-heading.orange:hover {
    background-color: #901515;
}

.circle-tile-heading.blue:hover {
    background-color: #54677a;
}

.circle-tile-heading.red:hover {
    background-color: #cf4435;
}

.circle-tile-heading.purple:hover {
    background-color: #7f3d9b;
}

.circle-tile-heading.grey:hover {
    background-color: #517398;
}

/* Circle Tile Ends*/


/* -- Background Helper Classes */

/* Use these to cuztomize the background color of a div. These are used along with tiles, or any other div you want to customize. */

 .dark-blue {
    background-color:#34495e ; /*#266177*/
}

.grey {
    background-color: #54677a ; /*#54677a*/
}

.green
{
    background-color: #16a085;
}

.blue {
    background-color: #517398 ; /*#558188*/
}

.orange {
    background-color: #ab3334;
    }


.red {
    background-color: #e74c3c;
}

.purple {
    background-color: #8e44ad;
}

.dark-gray {
    background-color: #7f8c8d;
}

.gray {
    background-color: #95a5a6;
}

.light-gray {
    background-color: #bdc3c7;
}

.yellow {
    background-color: #f39c12;
}

/* -- Text Color Helper Classes */

 .text-dark-blue {
    color: #34495e;
}

.text-green {
    color: #16a085;
}

.text-blue {
    color: #2980b9;
}

.text-orange {
    color: #f39c12;
}

.text-red {
    color: #e74c3c;
}

.text-purple {
    color: #8e44ad;
}

.text-faded {
    color: rgba(255,255,255,0.7);
}

/* Helper Ends*/


@media (min-width: 768px)
{
.row .date-range {
display: inherit;
    }
}

