/********************************************************************* STYLE 1 *************************************************************/

.smart-style-1 .btn-primary, .custom-theme .smart-form .button{
	background-color: none repeat scroll 0 0 #1b1e24;
}

.custom-theme #shortcut {
	background-color: #40baf1;
	width:auto;
}
.custom-theme .form-control{
	height:36px;
}
.custom-theme .productdiv4{
	padding-left: 10px;
}
.custom-theme .tree-view span a{
	color:white;
}

body.custom-theme {
	background:#fff;
}
@media screen and (min-width:767px){.demo1{display:none;}
} 

@media (max-width:1225px) {
 .table-responsive{
 	border: 1px solid #ddd;
    margin-bottom: 13.5px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
 	
 	} }
 	@media (max-width:767px) {
 		#ribbon .breadcrumb{
 			background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		    display: inline-block;
		    margin: 0;
		    padding: 11px 34px 11px 0 !important;
		    vertical-align: top;
 			margin-left: 36px;
 			}
 		}

.custom-theme .superbox-list.active:before {
	color: #2C3742;
}

.custom-theme .superbox-img-description  {
	color:#9EA8B1 !important;
}

.custom-theme .breadcrumb > li + li:before{
	color: white;
    content: ">";
    padding: 0 5px;
}

.custom-theme .btn-header>:first-child>a {
	background:none;
	border:none !important;
	color: #C5C6CA;
	box-shadow:none !important;
}
.custom-theme .btn-header>:first-child>a:hover {
	color:#fff;
	cursor:pointer !important;
}


.custom-theme #ribbon {
	/*Arabinda background:#fff;*/
	background:linear-gradient(to right, #40baf1 99%, #cacaca 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.custom-theme .btn.btn-ribbon {
	background: #9498A0;
}

.custom-theme #ribbon .breadcrumb li:last-child, 
.custom-theme #ribbon .breadcrumb>.active, 
.custom-theme #ribbon .breadcrumb, 
.custom-theme #ribbon .breadcrumb a {
	color: white !important;
}
.custom-theme #project-context a{
	color:white;
}

.custom-theme #left-panel {
	
	padding:0px;
}
.custom-theme .txt-color-blue {
    color: #40baf1 !important;
}

.custom-theme #logo-group>span .badge {
	background: #008DC4;
}

.custom-theme .tree-view span, 
.custom-theme .tree-view {
	border: 0 !important; 
	box-shadow:none !important;
}

.custom-theme .tree-view span {
	
	background:none repeat scroll 0 0 #40baf1;
	margin-right: 1px;
	
}

.custom-theme nav > ul > li.open:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.custom-theme .tree-view a, 
.custom-theme .tree-view strong {
	font-size: 16px;
	color: white;
}

.custom-theme .tree-view img {
	width:35px;
}

.custom-theme nav ul li a  {
	color:#40baf1;
	
	font-size:12px !important;
}

.custom-theme nav > ul > li > a {
	
	padding-bottom:13px;
}

.custom-theme nav ul ul>li:hover b {
	color: #69737A !important;
}

.custom-theme nav>ul>li>a>i {
	
	font-size:18px !important;
}

.custom-theme nav ul ul {
	background: none;
	padding:0px;
}
.custom-theme nav ul li.open>a b, {

		background:linear-gradient(to right, #f7f7f7 99%, #cacaca 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	}
.custom-theme nav ul li.open>a, 
.custom-theme nav ul li.open>a b, 
.custom-theme nav ul .active>a {
	color: white !important;
	font-weight: bold;
}
 .custom-theme nav ul ul li>a {
	padding-left:34px;
	background:#3b4142 !important;
}
.custom-theme nav > ul > li > ul::before, 
.custom-theme nav > ul ul li::before {	
}

.custom-theme nav ul ul ul li a {
	padding-left:58px;
}

.custom-theme nav ul ul ul ul li a {
	
	padding-left:80px;
}

.custom-theme nav ul ul ul ul ul li a {
	padding-left:50px;
}

.custom-theme nav ul ul ul ul ul ul li a {
	padding-left:60px;
}

.custom-theme .jarviswidget-color-blueDark>header {
	
	background: #2C3742 !important;
	border-color: #2C3742!important;
}

.custom-theme .btn-primary, .custom-theme .smart-form .button{
	background-color: #40BCE6;
	border: 1px solid #40BCE6;
}

.custom-theme .dropdown-menu>li>a:hover, 
.custom-theme .dropdown-menu>li>a:focus {
	background-color: #3E90D4;
}

.custom-theme .btn-primary:hover, 
.custom-theme .btn-primary:focus, 
.custom-theme .btn-primary:active, 
.custom-theme .btn-primary.active, 
.custom-theme .open .dropdown-toggle.btn-primary {
	background-color: #40BCE6;
	border-color: #40BCE6;
}

.custom-theme .btn-danger {
	background-color: #DB4A67;
	border-color: #CA4862;
}

.custom-theme .btn-danger:hover, 
.custom-theme .btn-danger:focus, 
.custom-theme .btn-danger:active, 
.custom-theme .btn-danger.active, 
.custom-theme .open .dropdown-toggle.btn-danger {
	background-color: #CF4762;
	border-color: #C0455E;
}


.custom-theme .btn-warning {
	background-color: #E2B14A;
	border-color: #C99D42;
}

.custom-theme .btn-warning:hover, 
.custom-theme .btn-warning:focus, 
.custom-theme .btn-warning:active, 
.custom-theme .btn-warning.active, 
.custom-theme .open .dropdown-toggle.btn-warning {
	background-color: #D6A848;
	border-color: #C09844;
}

/*
 * MINIFIED
 */
.custom-theme.minified #left-panel {
	padding:0 !important;
}

.custom-theme.minified nav ul>li>a {
padding: 12px 11px;
}

.custom-theme.minified nav>ul>li>ul, .custom-theme.minified nav>ul>li>ul>li, .custom-theme.minified nav>ul>li>ul>li>ul>li {
	background:#fff !important;
}

.custom-theme.minified nav>ul>li {
	border-bottom: 1px solid #E6E6E6;
	border-top: 1px solid #FFFFFF;
}


.custom-theme.minified nav>ul>li>a>i {
	font-size:18px !important;
}

.custom-theme.minified .tree-view span {
	padding:0;
}

.custom-theme.minified .tree-view {
	margin:0 !important;
}


.custom-theme.minified nav ul li.active>a:before {
	height: 23px;
	right: -19px;
	top: 7px;
	font-size: 20px;
	color: #FFFFFF;
}

/*
 * COLOR PALLET
 */
.custom-theme .bg-color-red {
	background: #DB4A67 !important;
}

.custom-theme .bg-color-blue {
	background: #4387bf !important;
}

.custom-theme .smart-form .checkbox input:checked+i, 
.custom-theme .smart-form .radio input:checked+i, 
.custom-theme .smart-form .toggle input:checked+i {
	border-color: #3b9ff3;
}

.custom-theme .smart-form .toggle i:before {
background-color: #3b9ff3;
}

.smart-form .rating input+label:hover, 
.smart-form .rating input+label:hover~label {
	color: #3b9ff3;
}

.custom-theme .bg-color-greenLight {
	background-color: #89AD45 !important;
}

.custom-theme .bg-color-orange {
	background-color: #D6A848 !important;
}

.custom-theme .bg-color-teal {
	background-color: #5ba0a3 !important;
}

.custom-theme .minifyme {
	background: #D7DAE2;
	border-bottom: 1px solid #818181;
	color: #7E7E7E;
}

.custom-theme  .minifyme:hover {
	color: #4E4E4E;
}

.custom-theme .onoffswitch-inner:before {
	background: #3b9ff3;
	border-color: #3b9ff3 #257DC7 #2A7DC4;
}

.custom-theme .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch:before {
	color: #84A83E;
}


