server/node_modules/
.idea/
server/logs
node_modules/
server/config/catalyst-config.json
server/.idea/
tempfiles/
seed/copychefidtoinstance.js
server/catdata/catalyst/chef-repos
server/catdata/catalyst/instance-pemfiles
server/catdata/catalyst/temp
