<html>
<head>
 <link rel="stylesheet" href="../css/bootstrap.css">
<title>Welcome</title>
<style type="text/css">
 .text-center {
 	text-align: center;
 }
 .no-border-radius {
  border-radius:0; 
 }
 .form-container {
 	margin-left: 27%;
    width: 50%;
 }
</style>
</head>

<body>
   <header>
        <nav class="navbar navbar-inverse no-border-radius" role="navigation">
            <a class="navbar-brand" href="/">
                <img src="../img/version2.png" alt="logo" height="30" width="70">
                <span class="logotext">Catalyst</span>
            </a>
        </nav>
    </header>

<div class="form-container">
<form role="form" id="userForm">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
  </div>
  <div class="form-group">
    <label for="fname"> First Name</label>
    <input type="text" class="form-control" id="fname" placeholder="Enter first Name" name="fname">
  </div>
  <div class="form-group">
    <label for="lname">Last Name</label>
    <input type="text" class="form-control" id="lname" placeholder="Enter last name" name="lname">
  </div>
  
  <div class="form-group">
    <label for="userGroup">Group</label>
    <select class="form-control" id="userGroup" name="userGroup">
    <%for(var i=0;i<groups.length;i++) {%>
     <option value="<%=groups[i].id%>"><%=groups[i].name%></option>
    <%}%>
    </select>
     
    <a class="" data-toggle="modal" data-target="#createGroupModal" href="javascript:void(0)">
     Create New
    </a>

  </div>
  <div class="form-group">
    <label for="userRole">Role</label>
    <select class="form-control" id="userRole" name="userRole">
    <%for(var i=0;i<userRoles.length;i++) {%>
     <option value="<%=userRoles[i].id%>"><%=userRoles[i].name%></option>
    <%}%>   
    </select>
    <a class="" data-toggle="modal" data-target="#createRoleModal" href="javascript:void(0)">
     Create New
    </a>
  </div>
  
  <input type="button" class="btn btn-default createBtn" value="Create User"></input> <input type="button" class="btn btn-default importBtn disabled" value="Import Users"></input>
</form>



<!-- Create Group Modal -->
<div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="createGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="createGroupModalLabel">Create Group</h4>
      </div>
      <div class="modal-body">
        <form role="form" id="createGroupForm">
          <div class="form-group">
            <label for="newGroupName">Group Name</label>
            <input type="text" class="form-control" id="newGroupName" placeholder="Enter Group Name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary createGroupSaveBtn">Create</button>
      </div>
    </div>
  </div>
</div>

<!-- Create Role Modal -->
<div class="modal fade" id="createRoleModal" tabindex="-1" role="dialog" aria-labelledby="createRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="createRoleModalLabel">Create Group</h4>
      </div>
      <div class="modal-body">
        <form role="form" id="createRoleForm">
          <div class="form-group">
            <label for="newRoleName">Role Name</label>
            <input type="text" class="form-control" id="newRoleName" placeholder="Enter Role Name">
          </div>
          <div class="form-group">
            <label for="permissionsDiv">Permissions</label>
            <div id="permissionsDiv">
             Read <input type="checkbox" id="readPermission"/>
             Write <input type="checkbox" id="writePermission"/>
             Execute <input type="checkbox" id="executePermission"/>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary createRoleSaveBtn">Create</button>
      </div>
    </div>
  </div>
</div>




<div id="userCreateResultContainer"></div>

</div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
    </script>
    <script src="../js/bootstrap.js"></script>
<script type="text/javascript">
$(function(){

  $('.createBtn').click(function(e){
    var data = $('#userForm').serializeArray();
    $.post('/user/create',data,function(result){
      var $message = $('<div class="instance-result"><div class="alert alert-success fade in instanceSuccess" id="stackMessage" style="margin: 10px 25px;"><strong>Congratulations!</strong>&nbsp;User Created Successfully.</div></div>');
      $('#userCreateResultContainer').empty().append($message);
      $('#userForm').get(0).reset();

    }).error(function(){
       var $message = $('<div class="instance-result"><div class="alert alert-danger fade in instanceSuccess" id="stackMessage" style="margin: 10px 25px"><strong>Error!</strong>&nbsp;Unable to create user. Please check your LDAP server.</div></div>');  
       $('#userCreateResultContainer').empty().append($message);
       $('#userForm').get(0).reset();

    });
  });

$('.createRoleSaveBtn').click(function(e){
  var roleName = $('#newRoleName').val();
  var permissions = {
    read:false,
    write:false,
    execute:false
  };
  if($("#readPermission").is(':checked')) {
    permissions.read = true;
  }
  if($("#writePermission").is(':checked')) {
    permissions.write = true;
  }
  if($("#executePermission").is(':checked')) {
    permissions.execute = true;
  }

  $.post('/roles/create',{
    roleName:roleName,
    permissions:permissions
  },function(data){

    $('#createRoleForm').get(0).reset();
    var $option = $('<option value="'+data.id+'">'+data.name+'</option>');
    $('#userRole').append($option);
    $option.attr('selected',true);
    $('#createRoleModal').modal('hide');

  }).error(function(){
     alert('Unable to create Role. Please try again later');
  });
}) 

$('.createGroupSaveBtn').click(function(e){
  var groupName = $('#newGroupName').val();
  $.post('/groups/create',{
    groupName:groupName,
  },function(data){
   
    $('#createGroupForm').get(0).reset();
    var $option = $('<option value="'+data.id+'">'+data.name+'</option>');
    $('#userGroup').append($option);
    $option.attr('selected',true);
    $('#createGroupModal').modal('hide');


  }).error(function(){
    alert('Unable to create group. Please try again later');
  });
}) 

  
});

</script>


</html>