<style>
.formation-cards-container{
  background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    height: 97%;
    margin-left: 20px;
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 97%;
}
.configureStackContainer {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    height: 97%;
    margin-left: 20px;
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 97%;
   display: none;
}
.margin-bt-templateItem {
  margin-bottom: 10px !important;
}
.template-item-container{
  /*padding: 3px;*/
  background-color: white;
  cursor: pointer;
}
.template-icon-container{
    color: #DCDCDC;
    text-align: center;
    padding-bottom: 10px;
}
.template-instance-runlist {
  padding-bottom: 5px !important;
    padding-top: 0 !important;
    min-height: 90px;
}
.template-item-heading {
  text-align: center;
  font-size: 11px;
  text-decoration: underline;
  display: block;
   margin-bottom: 5px;
}
.template-item-runlist-block {
  display: block;
  font-size: 11px;
  text-align: center;; 
}
.action-button {
    background: none repeat scroll 0 0 #428BCA;
    border: 0 none;
    border-radius: 5px;
    color: #FFFFFF !important;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 5px;
    width: 100px;
    text-decoration: none !important; 
}
.configureStackBtn {
   background: none repeat scroll 0 0 #428BCA;
    border: 0 none;
    border-radius: 5px;
    bottom: 43px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin: 10px 5px 38px 36%;
    padding: 10px 5px;
    position: absolute;
    width: 100px;
}
.template-item-selected {
   background-color: green !important;
}
#accordionCFTemplates {
  margin-top: 4px;
}

</style>

<div class="formation-cards-container">
  

<div class="panel-group" id="accordionCFTemplates">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordionCFTemplates" href="#cfTemplatesType1">
          Single Instance Samples
        </a>
      </h4>
    </div>
    <div id="cfTemplatesType1" class="panel-collapse collapse in">
      <div class="panel-body">
      <ul style="margin-top: 5px;" class="thumbnails list-unstyled" id="">
  <li class="col-xs-2"> 
  <div class="thumbnail  margin-bt-templateItem">
    <div data-template-title="LAMP" data-template-url="https://s3-us-west-2.amazonaws.com/cf-catalyst-templates/LAMP_Simple.template" class="template-item-container">
       <div class="template-icon-container">
      <!--<i class="fa fa-laptop instance-icon"></i>-->
      <img style="height: 50px;" alt="Lamp Stack" src="img/cf-icons/lamp.png">
    </div>
    <div class="caption template-instance-runlist">
      <span class="template-item-heading"><strong>LAMP</strong></span>
    </div>      
  </div>
</div>
</li>

<li class="col-xs-2"> 
  <div class="thumbnail  margin-bt-templateItem">
    <div data-template-title="Joomla" data-template-url="https://s3-us-west-2.amazonaws.com/cf-catalyst-templates/Joomla!_Simple.template" class="template-item-container">
       <div class="template-icon-container">
      <!--<i class="fa fa-laptop instance-icon"></i>-->
      <img style="height: 50px;width: 100px;" alt="Joomla Stack" src="img/cf-icons/joomla.png">
    </div>
    <div class="caption template-instance-runlist">
      <span class="template-item-heading"><strong>Joomla</strong></span>
    </div>      
  </div>
</div>
</li>
<li class="col-xs-2"> 
  <div class="thumbnail  margin-bt-templateItem">
    <div data-template-title="Drupal" data-template-url="https://s3-us-west-2.amazonaws.com/cf-catalyst-templates/Drupal_Simple.template" class="template-item-container">
       <div class="template-icon-container">
      <!--<i class="fa fa-laptop instance-icon"></i>-->
      <img style="height: 50px;width: 40px;" alt="Drupal Stack" src="img/cf-icons/drupal.png">
    </div>
    <div class="caption template-instance-runlist">
      <span class="template-item-heading"><strong>Drupal</strong></span>
    </div>      
  </div>
</div>
</li>

</ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordionCFTemplates" href="#cfTemplatesType2">
         Amazon RDS Samples
        </a>
      </h4>
    </div>
    <div id="cfTemplatesType2" class="panel-collapse collapse">
      <div class="panel-body">
         <ul style="margin-top: 5px;" class="thumbnails list-unstyled" id="">
       <li class="col-xs-2"> 
  <div class="thumbnail  margin-bt-templateItem">
    <div data-template-title="MySql" data-template-url="https://s3-us-west-2.amazonaws.com/cf-catalyst-templates/RDS_MySQL_55.template" class="template-item-container">
         <div class="template-icon-container">
        <!--<i class="fa fa-laptop instance-icon"></i>-->
       <img style="height: 50px;width: 100px;" alt="RDS MySql 55 Stack" src="img/cf-icons/mysql.png">
     </div>
      <div class="caption template-instance-runlist">
        <span class="template-item-heading"><strong>RDS MySql 55</strong></span>
      </div>      
    </div>
  </div>
</li>

  <li class="col-xs-2"> 
  <div class="thumbnail  margin-bt-templateItem">
    <div data-template-title="Ruby On Rails" data-template-url="https://s3-us-west-2.amazonaws.com/cf-catalyst-templates/Rails_Single_Instance_With_RDS.template" class="template-item-container">
       <div class="template-icon-container">
      <!--<i class="fa fa-laptop instance-icon"></i>-->
      <img style="height: 50px;width: 40px;" alt="Ruby On Rails Stack" src="img/cf-icons/rubyonrails.png">
    </div>
    <div class="caption template-instance-runlist">
      <span class="template-item-heading"><strong>Ruby On Rails</strong></span>
    </div>      
  </div>
</div>
</li>


</ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordionCFTemplates" href="#cfTemplatesType3">
          High Available, Multi-AZ Samples
        </a>
      </h4>
    </div>
    <div id="cfTemplatesType3" class="panel-collapse collapse">
      <div class="panel-body">
         

            <ul style="margin-top: 5px;" class="thumbnails list-unstyled" id="">
       <li class="col-xs-2"> 
  <div class="thumbnail  margin-bt-templateItem">
    <div data-template-title="Insoshi" data-template-url="https://s3-us-west-2.amazonaws.com/cf-catalyst-templates/Insoshi_Multi_AZ.template" class="template-item-container">
         <div class="template-icon-container">
        <!--<i class="fa fa-laptop instance-icon"></i>-->
       <img style="height: 50px;width: 100px;" alt="Insoshi Stack" src="img/cf-icons/insoshi.png">
     </div>
      <div class="caption template-instance-runlist">
        <span class="template-item-heading"><strong>Insoshi</strong></span>
      </div>      
    </div>
  </div>
</li>

  <li class="col-xs-2"> 
  <div class="thumbnail  margin-bt-templateItem">
    <div data-template-title="Redmine" data-template-url="https://s3-us-west-2.amazonaws.com/cf-catalyst-templates/Redmine_Multi_AZ.template" class="template-item-container">
       <div class="template-icon-container">
      <!--<i class="fa fa-laptop instance-icon"></i>-->
      <img style="height: 50px;width: 40px;" alt="Redmine Stack" src="img/cf-icons/redmine.png">
    </div>
    <div class="caption template-instance-runlist">
      <span class="template-item-heading"><strong>Redmine</strong></span>
    </div>      
  </div>
</div>
</li>
</ul>



      </div>
    </div>
  </div>
</div>

<input type="button" value="Next" class="configureStackBtn action-button" name="Launch">
</div>
<div class="configureStackContainer">

</div>
<script type="text/javascript">
 ( 
 function() {

   var selectedStack = null;
   var $templateItemContainer = $('.template-item-container');
   $templateItemContainer.click(function(e){
      var $this = $(this);
      selectedStack = {};
      selectedStack.templateUrl = $this.attr('data-template-url');
      selectedStack.title = $this.attr('data-template-title');
      
      $templateItemContainer.parent().removeClass('template-item-selected');
      $this.parent().addClass('template-item-selected');
    });
   
   var $formationCardsContainer = $('.formation-cards-container');
   var $configureStackContainer = $('.configureStackContainer');
   $('.configureStackBtn').click(function(e){
     if(selectedStack) {
         var pid = $('.nav-prod').filter('.active').attr('data-pid'); 
         selectedStack.pid = pid;
         $formationCardsContainer.hide();
          $configureStackContainer.empty().append('<img class="center-block" style="height:50px;width:50px;margin-top: 10%;margin-bottom: 10%;" src="img/loading.gif" />');
          $configureStackContainer.show();
     	$.post('/aws/cloudformation/configureTemplates',selectedStack,function(data){
           $configureStackContainer.empty().append(data);
     	}).error(function(){
     		alert("Error Occured");
     	});
     } else {
     	alert("Please choose a template first");
     }
   });

})();

</script>