<style>
.dockerContainer {
   background: none repeat scroll 0 0 #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    height: 97%;
    margin-left: 20px;
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 97%;
}
.dockerGalleryContainer {
   height: 87%;
}
.dockerBtnContainer {
   text-align: center;
}
.docker-role-container{
  /*padding: 3px;*/
  background-color: white;
  cursor: pointer;
}
.docker-role-selected {
   background-color: green !important;
}

.docker-system{
    color: #DCDCDC;
    text-align: center;
}
.docker-system-icon {
   height: 50px;
 }
.docker-system-runlist {
  padding-bottom: 5px !important;
    padding-top: 0 !important;
    min-height: 90px;
    text-align: center;
}
.docker-runlist-block {
  display: block;
  font-size: 11px;
}
.docker-center-alignment {
  display: inline-block;
    text-align: center;
}

.docker-role-heading {
  text-align: center;
  font-size: 11px;
  text-decoration: underline;
}
.margin-bt {
  margin-bottom: 10px !important;
}

</style>


 <div class="dockerContainer">
 <div class="dockerGalleryContainer">     
<ul class="thumbnails list-unstyled" id="">

<li class="col-xs-2"> 
  <div class="thumbnail  margin-bt">
    <div class="docker-role-container" data-dockerId="abcdef" data-title = "testtitle">
  
    <div class="docker-system">
      <!--<i class="fa fa-laptop system-icon"></i>-->
      <img class="docker-system-icon" src="img/docker-icons/docker-icon.png"/>
    </div>
    <div class="caption docker-system-runlist">
      <span class="docker-role-heading"><strong>Web</strong></span>
      <span class="docker-runlist-block">Pulse</span>
      <span class="docker-runlist-block">Lamp</span>
      <span class="docker-runlist-block">v1.0</span>
    </div>
    
  </div>
</div>
</li>

<li class="col-xs-2"> 
  <div class="thumbnail  margin-bt">
    <div class="docker-role-container" data-dockerId="abcdef" data-title = "testtitle">
  
    <div class="docker-system">
      <!--<i class="fa fa-laptop system-icon"></i>-->
      <img class="docker-system-icon" src="img/docker-icons/docker-icon.png"/>
    </div>
    <div class="caption docker-system-runlist">
      <span class="docker-role-heading"><strong>DB</strong></span>
      <span class="docker-runlist-block">PulseDB</span>
      <span class="docker-runlist-block">MySql</span>
      <span class="docker-runlist-block">v1.0</span>
    </div>
    
  </div>
</div>
</li>


</ul>
</div>
 <div class="dockerBtnContainer">    
   <input type="button" name="next" class="btn btn-primary configureDockerBtn" value="Next"/>
 </div>
</div>

<script type="text/javascript">
$('.docker-role-container').click(function(e){
   var $this = $(this);
   if($this.parent().hasClass('docker-role-selected')) {
    $this.parent().removeClass('docker-role-selected');

   } else {
    $this.parent().addClass('docker-role-selected');
   }
});

$('.configureDockerBtn').click(function(){
  var $selectedItems = $('.docker-role-selected');
  if($selectedItems.length) {
     var reqBody = [];
     var $items = $selectedItems.find('.docker-role-container');
     for(var i=0;i<$items.length;i++) {
      var $item.attr('docker-role-container')
     }
  } else {
    alert('Please choose a docker container first');
  }
});


</script>