<%if(!error) { %>
<html>
<body>
<form id="checkList" action="/hiddenSettings" method="POST">
<% for(var i=0;i<products.length;i++){
  var checkedString = '';
  if(products[i].status) {
   checkedString = 'checked';
  }
 %>
 <input type="checkbox" name="prd" value="<%=products[i].pid%>" <%=checkedString%>><%=products[i].name%></input> <br/>
<%}%>
<input type="submit" value="submit">
</form>
</body>
</html>
<%}%>