<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>DevOps</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/redmond/jquery-ui.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>

    <style>
    .top-header{
      border-radius: 0 !important;
      margin-bottom: 5px !important;

    }
    .nav-options {
      float: right;
    }
    .nav-settings {
       
   }
   .nav-logout {
     margin-top: 7px;
   }

   /* for navigation buttons */
   .page_nav {
       float: right;
       margin-right: 10px;
       margin-top: 10px;
   } 
   .page_nav ul {

   } 
   .page_nav ul li {

    /*padding: 5px;*/
    /* //background: #2184BE;*/
}
.page_nav ul li a {
    color: white;
}
/* for selectable */

.sidebar-collapse {
   border-top: 1px solid #E0E0E0;
   content: "";
   display: inline-block;
   margin-left: 9%;
   margin-top: 7px;
   text-align: center;
   width: 80%;
}
.sidebar-collapse-arrow {
    background-color: #E0E0E0;
    border-radius: 10px;
    color: #000000;
    display: inline-block;
    font-size: 12px;
    padding-bottom: 1px;
    position: relative;
    top: -12px;
    width: 18px;
    cursor: pointer;
}
.sidebar-collapse-arrow.left-arrow {
    display: none;
}
.sidebar-collapse-arrow.right-arrow {
    display: inline-block;
}

.collapse-menu {
    width: 4% !important;
}
.collapse-menu-header-text {
    display: none;
}
.main-content-expanded {
    width: 96%;
}
.footer-expand {
    left:4% !important;
    width: 96% !important;
}
.settings-content {
   padding-top: 15px;
}


/*  for new configuration*/

/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
  height: 100%;
  /*Image only BG fallback*/
  background: url('http://thecodeplayer.com/uploads/media/gs.png');
  /*background = gradient + image pattern combo*/
  background: 
    linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)), 
    url('http://thecodeplayer.com/uploads/media/gs.png');
}

body {
  font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
  margin: 5px auto;
  text-align: center;
  position: relative;
}
#msform fieldset {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    margin-left: 1%;
    position: absolute;
    width: 98%;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
/*
#msform input, #msform textarea{
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}*/
/*buttons*/
#msform .action-button {
  width: 100px;
  background: #428BCA;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  border-radius: 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #428BCA;
}
/*headings*/
.fs-title {
  color: #2C3E50;
    font-size: 19px;
    margin-top: 2px;
   /* text-transform: uppercase;*/
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 10px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: black;
  text-transform: uppercase;
  font-size: 13px;
  width: 33.33%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: grey;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: #428BCA;
  color: white;
}

.galleryContainer {
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    
}
.appStoreArea {
     background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    margin-left: 20px;
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 97%;
    height: 97%;
}
.appStoreConfigurationArea {
   
    overflow-x: hidden;
    overflow-y: auto;
   
    height: 98%;
}

.appStoreLaunchResultArea {
     background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    margin-left: 20px;
    margin-top: 25px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 97%;
    height: 97%;
    display: none;
}

.appStoreConfigurationArea {
  display: none;
}
.appStoregalleryContainer {
  height: 355px;
}
.configureRolesContainer {
   height: 350px;
   
}
.launchingInstanceContainer {
   height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}

.content-container {
  background: linear-gradient(to bottom, #FFFFFF 0%, #F0F0F0 100%) repeat-x scroll 0 0 #066ECD;
  height: 88%;
  display: :none;
}
.navbar-fontsize {
 font-size: 15px !important;
}
#console_tab_link {
  float:right;
}
.configManagementDropdown {
  padding-bottom: 2px !important;
}
.configManamentLabel{
  float: none !important;
  padding: 0 !important; 
}
.monitoringContainer {
  display: none;
}
#usage_tab_link {
  display: none;
  float:right;
}
#new_link_tab {
  display: none;
  float:right;
}
#app_store_link_tab {
  display: none;
  float:right;
}
#environment_link_tab {
  display: none;
  float:right;  
}
#console_tab_link {
  display: none;

}
.appConfig {
  display: none;
  padding-left: 20px;
  padding-top: 16px;
}
.appStoreSelectedInstanceContainer {
  height: 40%;
   background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
     margin-left: 20px;
    margin-top: 25px;
     width: 97%;
     padding-top: 14px;
     overflow: auto;
   
}
.selectedInstanceConfigurationContainer {
  margin-top: 5%;
   background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
     margin-left: 20px;
    margin-top: 15px;
     width: 97%;
      height: 40%;
}

.numberOfInstance {
 margin-left: 11px;
}

.securityGroupData {
 margin-left: 49px;
}
.sizeData {
 margin-left: 60px;
}
.osmenu {
  margin-left: 30px;
}
.noglowbox {
 background:none !important;
 box-shadow: 0 0 0 0 !important;
}

</style>
</head>

<body>

    <header>
        <nav class="navbar navbar-inverse top-header" role="navigation">
            <a class="navbar-brand hompage_link" href="#">
                <img src="img/version2.png" alt="logo" height="30" width="70">
                <span class="logotext">DevOps for DevOps</span>
            </a>
            <div class="nav-options">
            <a class="navbar-brand nav-settings nav-logout navbar-fontsize monitoringBtn" href="#" role="button" title="Monitoring">
                <span>Monitoring</span>
            </a>
            <div class="btn-group navbar-brand nav-settings nav-logout configManagementDropdown">
              <a type="button" class="navbar-brand dropdown-toggle navbar-fontsize configManamentLabel" data-toggle="dropdown" href="#">
               Config Management <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" class='chefBtn'>Chef Factory</a></li>
                <li><a href="#" class='chefLibraryBtn'>Chef Library</a></li>
                
                <!--<li class="divider"></li>
                <li><a href="#">Separated link</a></li>-->
              </ul>
          </div>


            <!--<a class="navbar-brand nav-settings chefBtn nav-logout navbar-fontsize" href="#" role="button" title="Chef" >
                <span>Config Management</span>
            </a>-->   
            <!--<a class="navbar-brand nav-settings nav-logout navbar-fontsize chefLibraryBtn" href="#" role="button" title="Chef">
                <img src="img/chef-icon.png" alt="settings" height="30" width="30">
                <span>Chef Library<span>
            </a>-->
            <a class="navbar-brand nav-settings nav-logout navbar-fontsize" href="#myModal" data-target="#settingsModal" data-toggle="modal" role="button" title="Settings">
                <!--<img src="img/settings-icon.png" alt="settings" height="30" width="30">-->
                <i class="fa fa-gear"></i>&nbsp;Settings
            </a>
            <a class="navbar-brand nav-settings nav-logout navbar-fontsize" href="/auth/signout" title="Logout">
                <span>Logout</span>
            </a>
          </div>
        </nav>
    </header>


    <!-- Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="settingsModalTitle">Settings</h4>
      </div>
      <div class="modal-body">
        <div>
             <ul class="nav nav-tabs" id="settingsTab">
        <li class="active"><a data-toggle="tab" href="#amazon-settings">AWS</a></li>
        <li class=""><a data-toggle="tab" href="#chef-settings">Chef</a></li>
        <li class=""><a data-toggle="tab" href="#jenkins-settings">Jenkins</a></li>
        <li class=""><a data-toggle="tab" href="#jira-settings">Jira</a></li>
      </ul>
      <div class="tab-content" id="settingsTabContent">
        <div id="amazon-settings" class="tab-pane fade active in settings-content">
          <form id="aws_form">
            <table>
          <tr><td><span class="">AWS Access Key</span></td><td>:<input name="aws_accessKey" type="text"></td></tr>
          <tr><td><span class="">Secret Key</span></td><td>:<input name="aws_secretKey" type="text" /></td></tr>
          <tr><td><span class="">Region</span></td><td>:<input name="aws_region" type="text"></td></tr>
          <tr><td><span class="">Key Pair Name</span></td><td>:<input name="aws_keyPair" type="text"></td></tr>
          <tr><td><span class="">Security Group Id</span></td><td>:<input name="aws_securityGroupId" type="text"></td></tr>
          <tr><td><span class="">Pem File</span></td><td>:<input name="awsPemFile" type="file" style="display:inline !important"></td></tr>
          </table>
          </form>
        </div>
        
        <div id="chef-settings" class="tab-pane fade settings-content">
           <form id="chef_form">
             <table>
          <tr><td><span class="">Chef UserName</span></td><td>:<input name="chefUserName" type="text"></td></tr>
          <tr><td><span class="">*Chef Url</span></td><td>:<input name="hostedChefUrl" type="text" /></td></tr>
          <tr><td><span class="">User Pem File</span></td><td>:<input name="chefUserPemFile" type="file" style="display:inline !important"></td></tr>
          <tr><td><span class="">Validator Pem File</span></td><td>:<input name="chefValidationPemFile" type="file" style="display:inline !important"></td></tr>
          <tr><td><span class="">Knife.rb File</span></td><td>:<input name="chefKnifeConfigFile" type="file" style="display:inline !important"></td></tr>
          </table>
          </form>
          <br/>
          <span> * Eg Url : https://api.opscode.com/organizations/anshul_rl</span>
        </div>
        
        <div id="jenkins-settings" class="tab-pane fade settings-content">
         
          <span class="label label-default">Username</span>:<input type="text"><br/>
          <span class="label label-default">Password</span>:<input type="text">
          
        </div>
        
        <div id="jira-settings" class="tab-pane fade settings-content">
          <span class="label label-default">Username</span>:<input type="text"><br/>
          <span class="label label-default">Password</span>:<input type="text">
        </div>
        <div id="settingsSaveMsg" style="width:100%;text-align:center;padding-top: 10px;display:none">
        <div id="saveMsgFail" style="color:red"> Please fill all the fields </div>
        <div id="saveMsgSuccess" style="color:green"> Settings Saved </div>
        </div>
      </div>
    </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary saveSettings">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="mainarea content-container">
    <div  class="menu_left navbar-inverse">
        <aside class='menuContent'>
            <p class="menu-header"><span class="menu-header-text">Providers</span>&nbsp;</p>
            <ul id="main-nav">

                <%  
                if(products && products.length) {
                    var activeClassAdded = false;
                  for(var i=0;i<products.length;i++) {
                    if(products[i].status) {
                    
                    var className = "";
                    if(!activeClassAdded) {
                     className = 'active';
                     activeClassAdded = true;
                   }
                 %>
                 <li class="nav-prod <%=className%>" data-pid="<%=products[i].pid%>"><a href="#"><img style="height: 30px;padding-bottom: 4px;" src="img/provider-icons/<%=products[i].pid%>.png"/>  
                    <span class="prod-name"><%= products[i].name%></span></a></li>

                    <% }} %> 

                    <% } %> 
                </ul>
                <div id="sidebar-collapse" class="sidebar-collapse">
                    <span class="sidebar-collapse-arrow right-arrow" title="collapse">&#10094;</span>
                    <span class="sidebar-collapse-arrow left-arrow" title="expand">&#10095;</span>
                </div>
            </aside>
        </div>
         <!--<span style="color:white">&nbsp; Domain Name : <input type="text" />.relevancelab.com</span>-->
        <section class="main-content">
           <div class="domainsContainer" style="height:91%;">
            <ul class="nav nav-tabs main-tabs">
              <li class="active"><a id="domain_link" href="#Domains" data-toggle="tab">Domains</a></li>
              <li><a id="new_link_tab" href="#new_configuration" data-toggle="tab">DevOps Roles</li> 
              <li><a id="app_store_link_tab" href="#app_factory_container" data-toggle="tab">App Factory</a></li> 
              <li><a id="cloudFormation_link_tab" href="#cloudFormation_container" data-toggle="tab">AWS Cloud Formation</a></li> 
              <li><a id="environment_link_tab" href="#environment_tab" data-toggle="tab">Environments</a></li> 
              <li style="float:right"><a id="console_tab_link" href="#">Console</a></li> 
               <li style="float:right"><a id="usage_tab_link" href="#usageTab" data-toggle="tab">Usage</a></li>                 
          </ul>

  <!-- Tab panes -->
  <div class="tab-content" style="height: 96%;">
      <div class="tab-pane active" id="Domains"></div>
      <div class="tab-pane" id="new_configuration">

       <!-- multistep form -->
<form id="msform">
  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active">Gallery</li>
    <li>Configure Roles</li>
    <li>Instances</li>
  </ul>
  <!-- fieldsets -->
  <fieldset id="step1">
    <h2 class="fs-title"><!--Choose Roles-->Create a New DevOps Platform</h2>
    <div class="galleryArea">
    </div>
    
   
    </fieldset>
  <fieldset id="step2" class ="noglowbox">
    <h2 class="fs-title">Configure Roles</h2>
    <div class="configureRolesArea">
    </div>
    
  </fieldset>
  <fieldset id="step3">
    <h2 class="fs-title">Launching Instances</h2>
    <div class="launchingInstanceContainer"></div>
    <input type="button" name="previous" class="previous action-button goto-configureRoles" value="Previous" />
    <input type="button" name="submit" class="submit action-button goto-finish" value="Finish" />
  </fieldset>
</form>



<!-- jQuery easing plugin -->


      </div> 
        <!-- for app store -->
      <div class="tab-pane" id="app_factory_container" style="height: 95%;">
         <ul class="nav nav-tabs">
              <li class=""><a id="app_factory_templateLink" class="app_factory_tab" href="#app_factory_templatesArea" data-toggle="tab">Templates</a></li>
              <li><a id="app_factory_blueprintsLink" class="app_factory_tab" href="#app_factory_blueprintsArea" data-toggle="tab">Blueprints</a></li> 
          </ul>
          <div class="tab-content" style="height: 100%;">
             <div id="app_factory_templatesArea" class="tab-pane" style="height: 100%;">
             </div>
             <div id="app_factory_blueprintsArea" class="tab-pane" style="height: 100%;" >
             </div>
          </div>
        
      </div>

      <div class="tab-pane" id="cloudFormation_container" style="height: 95%;">

         <ul class="nav nav-tabs">
              <li class=""><a id="cloudFormation_templateLink" class="app_factory_tab" href="#cloudFormation_templatesArea" data-toggle="tab">Templates</a></li>
              <li><a id="cloudFormation_blueprintsLink" class="app_factory_tab" href="#cloudFormation_blueprintsArea" data-toggle="tab">Blueprints</a></li> 
          </ul>
          <div class="tab-content" style="height: 100%;">
             <div id="cloudFormation_templatesArea" class="tab-pane" style="height: 100%;">
             </div>
             <div id="cloudFormation_blueprintsArea" class="tab-pane" style="height: 100%;" >
             </div>
          </div>
      
      </div>


      <div id="usageTab" class="tab-pane" style="height:100%;">
        
      </div>
      <div id="environment_tab" class="tab-pane" style="height: 96%;">
         <ul class="nav nav-tabs environment-tabs">
              <li class=""><a id="env_dev_link" class="envTabType" href="#env_dev_tab" data-toggle="tab">Dev</a></li>
              <li><a id="env_test_link" class="envTabType" href="#env_test_tab" data-toggle="tab">Test</a></li> 
              <li><a id="env_stage_link" class="envTabType" href="#env_stage_tab" data-toggle="tab">Stage</a></li> 
              <li><a id="env_production_link" class="envTabType" href="#env_production_tab" data-toggle="tab">Production</a></li> 
          </ul>
          <div class="tab-content" style="height: 100%;">
             <div id="env_dev_tab" class="tab-pane envTab" data-envType="dev" style="height: 100%;">
             </div>
             <div id="env_test_tab" class="tab-pane envTab" style="height: 100%;" data-envType="test">
             </div>
             <div id="env_stage_tab" class="tab-pane envTab" style="height: 100%;" data-envType="stage">
             </div>
             <div id="env_production_tab" class="tab-pane envTab" style="height: 100%;" data-envType="production">
             </div>
          </div>
      </div>
    <!-- <div class="tab-pane" id="monitoring_tab">
       <iframe src="zabbix-auto-login.html" style="height: 515px;width: 100%;" frameBorder="0"></iframe>
     </div>
-->
  </div>
   </div>
   <div class="monitoringContainer" style="height:99%">
    <!-- <iframe src="monitoring/mainbackup.html" style="height: 100%;width: 100%;" frameBorder="0"></iframe>-->
   </div>

 </section>
</div>
<div class="usercookbookArea content-container">
</div>
<div class="cheflibraryArea content-container">
  </div>
          


   <!-- DOMAIN-->

<!-- Modal -->
<div class="modal fade" id="domainModal" tabindex="-1" role="dialog" aria-labelledby="domainModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
        <h4 class="modal-title" id="domainModalTitle">Domain Name</h4>
      </div>
      <div class="modal-body">
        <span style="">&nbsp; Domain Name : <input id="domainNameText" type="text" />.relevancelab.com</span>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <button type="button" class="btn btn-primary save-domain-btn" data-dismiss="modal">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
    </script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="http://thecodeplayer.com/uploads/js/jquery.easing.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/commons.js"></script>
    <script src="js/main.js"></script>
    
    <script>
    $(function() {
       $contentContainer = $('.content-container');
       $homePageLink = $('.hompage_link');
       $consoleTabLink =  $('#console_tab_link');
       $usageTabLink = $('#usage_tab_link');
       $domainTab= $('#Domains');
       $homePageLink.click(function(e){
         $('.domainsContainer').show();
          $('.monitoringContainer').hide();
        $contentContainer.hide();

         $('.mainarea').show();
       });
       $('.chefBtn').click(function(e){
         //$rightArr.triggerHandler('click');
         $contentContainer.hide();
         //$providers.removeClass('active');
         $('.usercookbookArea').empty().append('<iframe src="usercookbooks.html" style="height: 100%;width: 100%;" frameBorder="0"></iframe>').show();
         
       });
       $('.chefLibraryBtn').click(function(e){
        //$rightArr.triggerHandler('click');
          $contentContainer.hide();
          //$providers.removeClass('active');
          $('.cheflibraryArea').empty().append('<iframe src="chef-library/Chef.html" style="height: 100%;width: 100%;" frameBorder="0"></iframe>').show();
       });

        $('#settingsModal').on('show.bs.modal', function(e) {
           $('#saveMsgFail').hide();
           $('#saveMsgSuccess').hide();
           $('#settingsSaveMsg').hide();
           document.getElementById("aws_form").reset();
            document.getElementById("chef_form").reset();
           //$('#amazon-settings').get(0).reset();  
        })
        $('#settingsTab').on('show.bs.tab', function(e) {
           $('#saveMsgFail').hide();
           $('#saveMsgSuccess').hide();
           $('#settingsSaveMsg').hide();
           //$('#amazon-settings').get(0).reset();  
        })

      $('.monitoringBtn').click(function(e){
          var pid  = $providers.filter('.active').attr('data-pid');
          $('.domainsContainer').hide();
          /*$('.monitoringContainer').empty().append('<img class="center-block" style="height:50px;width:50px;margin-top: 10%;margin-bottom:10%" src="img/loading.gif" />').show();*/
          // $.get('monitoring/index?pid='+pid,function(data){
          //    $('.monitoringContainer').empty().append(data);
          // });
          $('.monitoringContainer').empty().append('<iframe src="monitoring/index?pid='+pid+'" style="height: 100%;width: 100%;" frameBorder="0"></iframe>').show();
          
      });

        $('.saveSettings').click(function(e){
          e.preventDefault();
          var url;
          var data;
          var formValid = false;
          if($('#amazon-settings').is(':visible')) {
             data = new FormData($('#aws_form').get(0));
             url = '/settings/aws';
             formValid = true;
          } else if($('#chef-settings').is(':visible')) {
             data = new FormData($('#chef_form').get(0));
             url = '/settings/chef';
             formValid = true;
          }
          if(formValid) {
           $.ajax({
            url:url,
            data:data,
            processData: false,
            contentType: false,
            type: 'POST',
            success:function(data,success){
                 $('#saveMsgSuccess').html("Settings saved").show();
                 $('#saveMsgFail').hide();
                 $('#settingsSaveMsg').show();  
           },
           error:function(jqxhr){
            if(jqxhr.status === 400) {
              $('#saveMsgFail').html("Please fill all the fields").show();
              $('#saveMsgSuccess').hide();
             $('#settingsSaveMsg').show();  
            } else {
                 $('#saveMsgFail').html("Something went wrong. Please try again later").show();
              $('#saveMsgSuccess').hide();
             $('#settingsSaveMsg').show();  
           
            }

           }});
          }
         return false;

        });   
        
       $consoleTabLink.click(function(e){
          e.preventDefault();
          var pid  = $providers.filter('.active').attr('data-pid');
          pid = parseInt(pid);
          function openLink(url) {
            window.open(url);
          }
          switch(pid){
            case 1:
             openLink('https://console.aws.amazon.com/console/home');
            break;
            case 2:
             openLink('https://console.aws.amazon.com/console/home');
            break;
            case 3:
             openLink('https://manage.windowsazure.com');
            break;
            case 4:
             openLink('http://rlevaldevops.cloudapp.net/');
            break;
            case 5:
             openLink('http://192.168.101.41/dashboard');
            break;
            case 6:
             openLink('http://192.168.101.44:8080/client');
            break;
          }
          return false;
        }); 
       


        var $menu= $('.menu_left');
        var $mainContent = $('.main-content');
        var $menuHeaderText = $('.menu-header-text');
        var $rightArr = $('.right-arrow');
        var $leftArr = $('.left-arrow');
        var $prodName = $('.prod-name');
        var $footer = $('.footer');
        
        $rightArr.click(function(e){
         $prodName.hide();
         $menu.addClass('collapse-menu');
         $menuHeaderText.hide();
         $mainContent.addClass('main-content-expanded');
         $footer.addClass('footer-expand');
         $(this).hide();
         $leftArr.css({'display':'inline-block'}); 
     });
        
        $leftArr.click(function(e){
            $prodName.show();
            $menu.removeClass('collapse-menu');
            $menuHeaderText.show();
            $mainContent.removeClass('main-content-expanded');
            $footer.removeClass('footer-expand');
            $(this).hide();
            $rightArr.css({'display':'inline-block'}); 
        });

        DEVOPS.navigation.hideAllBtns(); 

       var $providers = $('.nav-prod');


       function loadDomainTab() {
       var pid  = $providers.filter('.active').attr('data-pid');
       DEVOPS.navigation.hideAllBtns();
       DEVOPS.navigation.showFirstTab('');
       DEVOPS.navigation.showFirstTab('<img class="center-block" style="height:50px;width:50px;margin-top: 10%;" src="img/loading.gif" />');
           
       $.get("/domains/"+pid,function(data){
          $domainTab.empty().append(data);

           DEVOPS.navigation.hideAllBtns();
        
        }).fail(function() {
           alert( "error" );
      });
      }

       var $new_link_tab = $('#new_link_tab');
       var $app_store_link_tab = $('#app_store_link_tab');
       var $cloudFormation_link_tab = $('#cloudFormation_link_tab');
       var $environment_link_tab = $('#environment_link_tab');
       $providers.click(function(e){
         $contentContainer.hide();
         $('.mainarea').show();
         var $this = $(this);
         var pid = $this.attr('data-pid');
         
         if(pid === '1' || pid === '4' || pid === '5') {
          $new_link_tab.hide();
          $app_store_link_tab.hide();
          $environment_link_tab.hide();
         } else {
           $new_link_tab.show();
           $app_store_link_tab.show();
           $environment_link_tab.show();
         }
         if(pid==='2' || pid==='1') {
          $usageTabLink.show();
         } else {
          $usageTabLink.hide();
         }

         if(pid==='5') {
          $consoleTabLink.hide();
         } else {
          $consoleTabLink.show();
         }
         if(pid == '2') {
          $cloudFormation_link_tab.show();
         } else {
          $cloudFormation_link_tab.hide();
         }
         
          
        $providers.removeClass('active');
        $(this).addClass('active'); 
        $('.domainsContainer').show();
        $('.monitoringContainer').hide();
        /* $.get("/products/"+pid,function(data){
           DEVOPS.navigation.hideAllBtns();
           DEVOPS.navigation.showFirstTab(data);
        
        }).fail(function() {
           alert( "error" );
       });*/
      
      loadDomainTab();
  
    });
      $('#domain_link').on('shown.bs.tab',function (e) {
         loadDomainTab();
      });
      $('#usage_tab_link').on('shown.bs.tab',function (e) {
         $('#usageTab').empty().append('<iframe src="usage/usage.html" style="height: 100%;width: 100%;" frameBorder="0"></iframe>');
      });
     $environment_link_tab.on('shown.bs.tab',function(e){
       $rightArr.trigger('click');
     });
     var $galleryArea = $('.galleryArea');
      $new_link_tab.on('shown.bs.tab',function (e) {

        //going to step 1
        var $fieldsets = $('fieldset').hide();
        $fieldsets.first().show();
        var $li = $("#progressbar li").removeClass("active");
        $li.first().addClass("active");
       
        $galleryArea.empty().append('<img class="center-block" style="height:50px;width:50px;margin-top: 10%;margin-bottom: 10%;" src="img/loading.gif" />');
          var pid  = $providers.filter('.active').attr('data-pid');
         $.get("/providers/"+pid+"/roles",function(data){
           $galleryArea.empty().append(data);
          }).fail(function() {
           alert( "error" );
         });
      });

      $app_factory_container = $('#app_factory_container'); 
      

      $app_store_link_tab.on('shown.bs.tab',function (e) {
         /* $app_factory_container.empty().append('<img class="center-block" style="height:50px;width:50px;margin-top: 10%;margin-bottom: 10%;" src="img/loading.gif" />');
          var pid  = $providers.filter('.active').attr('data-pid');
          $.get('/app_factory/'+pid,function(data){
            $app_factory_container.empty().append(data);
          });
          */
           $('#app_factory_templateLink').trigger('click');
      });

      $app_factory_templateArea = $('#app_factory_templatesArea'); 
      
      $('#app_factory_templateLink').on('shown.bs.tab',function (e) {
          $app_factory_templateArea.empty().append('<img class="center-block" style="height:50px;width:50px;margin-top: 10%;margin-bottom: 10%;" src="img/loading.gif" />');
          var pid  = $providers.filter('.active').attr('data-pid');
          $.get('/app_factory/'+pid,function(data){
            $app_factory_templateArea.empty().append(data);
          });
  
      });

      $app_factory_blueprintsArea = $('#app_factory_blueprintsArea'); 
      $('#app_factory_blueprintsLink').on('shown.bs.tab',function (e) {
          $app_factory_blueprintsArea.empty().append('<img class="center-block" style="height:50px;width:50px;margin-top: 10%;margin-bottom: 10%;" src="img/loading.gif" />');
          var pid  = $providers.filter('.active').attr('data-pid');
          $.get('/app_factory/'+pid+'/bluePrint',function(data){
            $app_factory_blueprintsArea.empty().append(data);
          });
  
      });

      $cloudFormation_container = $('#cloudFormation_container');
      $cloudFormation_link_tab.on('shown.bs.tab',function (e) {
         $('#cloudFormation_templateLink').trigger('click');
         /* $cloudFormation_container.empty().append('<img class="center-block" style="height:50px;width:50px;margin-top: 10%;margin-bottom: 10%;" src="img/loading.gif" />');
          var pid  = $providers.filter('.active').attr('data-pid');
          $.get('/aws/cloudformation/getTemplates',function(data){
             $cloudFormation_container.empty().append(data);
          });*/
  
      });

      $cloudFormation_templateArea = $('#cloudFormation_templatesArea'); 
      
      $('#cloudFormation_templateLink').on('shown.bs.tab',function (e) {
         $cloudFormation_templateArea.empty().append('<img class="center-block" style="height:50px;width:50px;margin-top: 10%;margin-bottom: 10%;" src="img/loading.gif" />');
          var pid  = $providers.filter('.active').attr('data-pid');
          $.get('/aws/cloudformation/getTemplates',function(data){
             $cloudFormation_templateArea.empty().append(data);
          });
  
      });

      $cloudFormation_blueprintsArea = $('#cloudFormation_blueprintsArea'); 
      $('#cloudFormation_blueprintsLink').on('shown.bs.tab',function (e) {
          $cloudFormation_blueprintsArea.empty().append('<img class="center-block" style="height:50px;width:50px;margin-top: 10%;margin-bottom: 10%;" src="img/loading.gif" />');
          var pid  = $providers.filter('.active').attr('data-pid');
          $.get('/aws/cloudformation/'+pid+'/blueprints',function(data){
            $cloudFormation_blueprintsArea.empty().append(data);
          });
      });



     
 $(".goto-configureRoles").click(function(){

     //alert('here')
     var current_fs = $(this).parent();
     var previous_fs = $(this).parent().prev();
  
     //de-activate current step on progressbar
     $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
  
  
     current_fs.hide();
     previous_fs.show(); 

   });

               var $finishBtn= $('.goto-finish').show();
                $finishBtn.click(function(evt){
                         DEVOPS.navigation.hideAllBtns();
                         DEVOPS.navigation.showFirstTab('');
                         DEVOPS.navigation.showFirstTab('<img class="center-block" style="height:50px;width:50px;margin-top: 10%;" src="img/loading.gif" />');
                         var pid  = $providers.filter('.active').attr('data-pid');
           
                        $.get("/domains/"+pid,function(data){
                          DEVOPS.navigation.showFirstTab(data);
                         }).fail(function() {
                            alert( "error" );
                        });
                     });


        $providers.filter('.active').trigger('click');
      
   $envTabs = $('.envTab');
   $('.envTabType').on('shown.bs.tab',function (e) {
    $envTabs.empty();
      var tab  = $(this).attr('href');
      var pid = $('.nav-prod').filter('.active').attr('data-pid');
      var $tab = $(tab);
      $tab.empty().append('<img class="center-block" style="height:50px;width:50px;margin-top: 10%;margin-bottom:10%" src="img/loading.gif" />')
      var envType = $tab.attr('data-envType');
      /*$tab.empty().append('<iframe src="'+'/environments/'+pid+'?envType='+envType+'" frameBorder=0 height="100%" width="100%"></iframe>');*/ 
      
      $.get('/environments/'+pid+'?envType='+envType,function(data){
        $tab.empty().append(data); 
      });     
   });


    });
$('#environment_link_tab').on('shown.bs.tab',function (e) {
  console.log('here');
  $('#env_dev_link').tab('show');
});

    
     

        </script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

        <script>
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l;
            b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
            b[l].l = +new Date;
            e = o.createElement(i);
            r = o.getElementsByTagName(i)[0];
            e.src = '//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
        </script>
    </body>

    </html>
