<html>
<head>
 <link rel="stylesheet" href="css/bootstrap.css">
<title>Please Login to continue</title>
<style type="text/css">
 .text-center {
 	text-align: center;
 }
 .no-border-radius {
  border-radius:0; 
 }
</style>
</head>

<body>
   <header>
        <nav class="navbar navbar-inverse no-border-radius" role="navigation">
            <a class="navbar-brand" href="#">
                <img src="img/version2.png" alt="logo" height="30" width="70">
                <span class="logotext">Catalyst</span>
            </a>
        </nav>
    </header>
	<div class="modal-dialog">
    <div class="modal-content">
    	<form method="POST" action="/auth/signin">
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body text-center">
        <p>Username : <input type="text" name="username"/></p>
        <p>Password : <input type="password" name="pass"/></p>
     
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Login">
      </div>
  </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</body>

</html>