<html>
<body>
<div style="display:none">	
<form name="login" id="login_zabbix" method="post" action="http://54.81.37.87/zabbix/index.php">
<input type="hidden" id="name" name="name" value="admin">
<input type="hidden" id="enter" name="enter" value="Sign in">
<input type="hidden" id="password" name="password" value="Zaq12wsx">
<!--<input type="submit" value="Monitoring">-->
</form>
</div>
<script type="text/javascript">
window.onload = function() {
	var form = document.getElementById('login_zabbix');
	form.submit();
}
</script>
</body>
</html>