<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

		<title> SmartAdmin </title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Use the correct meta names below for your web application
			 Ref: http://davidbcalhoun.com/2010/viewport-metatag 
			 
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">-->
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Basic Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.min.css">

		<!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
		<link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css">
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-skins.css">

		<!-- SmartAdmin RTL Support is under construction
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.css"> -->

		<!-- We recommend you use "your_style.css" to override SmartAdmin
		specific styles this will also ensure you retrain your customization
		with each SmartAdmin update.
		<link rel="stylesheet" type="text/css" media="screen" href="css/demo.css"> -->

		<!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
	<!--	<link rel="stylesheet" type="text/css" media="screen" href="css/demo.css"> -->

		

		<!-- GOOGLE FONT -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

	</head>
	<body>
										

					

						
							<div style="margin-top: 10px">
							<div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Cost/Month
                            <div class="pull-right">
                                
                                    
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">

										<div id="sales-graph" class="chart no-padding"></div>

                            

									</div> 
									<!--widget body end content -->

								</div>
								<!-- end widget div -->

							</div>
							<!-- end jarviswidget -->

						</div>
        <br>
				
					<!-- end row -->

					<!-- row -->

					<!-- row -->
					<!-- END SHORTCUT AREA -->


        <!--Break even Point Charts-->

      <!--  <div class="jarviswidget" style="margin-left: 10px;margin-right:5px;margin-top:20px">
            

            <header style="width: 67.4%" >
									<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
									<h2>Monthly Cost</h2> 

								</header> -->
        
     <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> RI
                            <div class="pull-right">
                                
                                    
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
        
        
           <div id="chart_div" style="height: 300px"></div>

             </div> </div> </div>

        <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Instances Cost 
                            <div class="pull-right">
                                
                                    
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">

        <div id="chart_div1"></div> </div> </div> </div>

		<!--================================================== -->

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="js/plugin/pace/pace.min.js"></script>

		<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script>
			if (!window.jQuery) {
				document.write('<script src="js/libs/jquery-2.0.2.min.js"><\/script>');
			}
		</script>

		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script>
			if (!window.jQuery.ui) {
				document.write('<script src="js/libs/jquery-ui-1.10.3.min.js"><\/script>');
			}
		</script>

		

		<!-- BOOTSTRAP JS -->
		<script src="js/bootstrap/bootstrap.min.js"></script>

	

		<!-- MAIN APP JS FILE -->
		<script src="js/app.js"></script>

		<!-- PAGE RELATED PLUGIN(S) -->

		<!-- Morris Chart Dependencies -->
		<script src="js/plugin/morris/raphael.2.1.0.min.js"></script>
		<script src="js/plugin/morris/morris.min.js"></script> 

        
        <!--Break even Point Charts-->

        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Months', 'RI Cost', 'Demand'],
          ['Jan',  8000,      0],
          ['Feb',  8500,      2000],
          ['Mar',  9000,       4000],
          ['April',  9500,      6000],
          ['May',  10000,      8000],
          ['June',  10500,      10000],
          ['July',  11000,      12000],
          ['Aug',  11500,      14000],
          ['Sep',  12000,      16000],
          ['Oct',  12500,      18000],
          ['Nov',  13000,      20000],
          ['Dec',  13500,      22000]
        ]);

        var options = {
          hAxis: {title: 'Months',  titleTextStyle: {color: '#333'}},
          vAxis: {title: 'Cost',  titleTextStyle: {color: '#333'},minValue: 0}
           
          
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

        <!--Multiple Lines-->

         <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart1);
      function drawChart1() {
        var data = google.visualization.arrayToDataTable([
          ['Month', 'm1.large', 'm1.medium', 'm1.small','t1.micro'],
          
          ['Jan',  900,      340,       300,   290],
          ['Feb',  600,      460,       400,   300],  
          ['Mar',  1000,       570,       300,    200],
          ['April',  1170,      480,        370,    300],
          ['May',  1000,      590,        480,    180],
          ['June',  1170,      520,        400,    300],
          ['July',  1000,      640,        490,    400],
          ['Aug',  1170,      560,        400,    300],
          ['Sep',  1000,      500,        460,    400],
          ['Oct',  1170,      660,        360,    320],
          ['Nov',  1000,      520,        410,    400],
          ['Dec',  1170,     425,        400,    200]
        ]);

        var options = {
          vAxis: {minValue: 0},
          hAxis: {title: 'Months',  titleTextStyle: {color: '#333'}},
          vAxis: {title: 'Cost',  titleTextStyle: {color: '#333'}},
          
          colors:['green','red','blue','yellow']
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div1'));
        chart.draw(data, options);
      }
    </script>


		<script type="text/javascript">
      // PAGE RELATED SCRIPTS

      /*
      * Run all morris chart on this page
      */
      $(document).ready(function () {

          // DO NOT REMOVE : GLOBAL FUNCTIONS!
          pageSetUp();

          if ($('#sales-graph').length) {

              Morris.Area({
                  element: 'sales-graph',
                  data: [{
                      month: '2013-01',
                      
                      cost: 2647
                  }, {
                      month: '2013-02',
                      
                      cost: 2441
                  }, {
                      month: '2013-03',
                      
                      cost: 2501
                  }, {
                      month: '2013-04',
                      
                      cost: 5689
                  }, {
                      month: '2013-05',
                      
                      cost: 2293
                  }, {
                      month: '2013-06',
                      
                      cost: 1881
                  }, {
                      month: '2013-07',
                      
                      cost: 1588
                  }, {
                      month: '2013-08',
                      
                      cost: 5175
                  }, {
                      month: '2013-09',
                      
                      cost: 2028
                  }, {
                      month: '2013-10',
                      
                      cost: 1791
                  }, {
                      month: '2013-11',
                      
                      cost: 1791
                  }, {
                      month: '2013-12',
                      
                      cost: 1791
                  }],
                  xkey: 'month',
                  ykeys: [ 'cost'],
                  labels: ['cost'],
                  pointSize: 2,
                  hideHover: 'auto',
                  gridTextSize: 8,
                  yLabelFormat:function(y) {
                    return y +' $';
                  },

                  xLabelFormat: function (x) {
                      var str = '';

                      switch (x.getMonth()) {

                          case 0:
                              str = 'Jan ' + 13;
                              break;
                          case 1:
                              str = 'Feb ' + 13;
                              break;
                          case 2:
                              str = 'March ' + 13;
                              break;
                          case 3:
                              str = 'April ' + 13;
                              break;
                          case 4:
                              str = 'May ' + 13;
                              break;
                          case 5:
                              str = 'June ' + 13;
                              break;
                          case 6:
                              str = 'July ' + 13;
                              break;
                          case 7:
                              str = 'Aug' + 13;
                              break;
                          case 8:
                              str = 'Sept ' + 13;
                              break;
                          case 9:
                              str = 'Oct' + 13;
                              break;
                          case 10:
                              str = 'Nov ' + 13;
                              break;
                          case 11:
                              str = 'Dec ' + 13;
                              break;

                      }
                      //alert(str);
                      return str;
                  }

                });
              }

            });

      //setup_flots();
      /* end flot charts */

		</script>

		

	</body>

</html>