<!doctype html>

<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Content</title>
  <meta name="description" content="">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!--Custom CSS-->
    <link rel="stylesheet" href="css/monitor.css">
  <link rel="stylesheet" href="css/style.css">

    <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production.css">
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-skins.css">

    <!--Bootstrap CSS-->
      <link rel="stylesheet" href="css/bootstrapnew.css">
    
    <!--Bootstrap Fonts-->
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

     <script src="js/libs/modernizr-2.5.3.min.js"></script>

    <script  type="text/javascript" src="js/jquery.js"></script>
  <script  type="text/javascript" src="js/jquery.flot.js"></script>

<script src="js/chartdata.js"></script>
     
    

    
</head>
<body>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->


<!--main page work-->

    <div class="content1" style="margin-top: 20px" >

  <div class="col-lg-12 col-lgnew">

      <div class="leftcontainer">

          
      <h3 style="margin-left:5px">Status</h3>

          <div id="accordion" class="panel-group">
    <div class="row nolrmargin"> 
        <div class="col-lg-12">
        <div class="panel1 panel-default1">
              <div class="panel-heading1" style="padding:2px 2px">
                <div class="panel-title" style="float: left;font-size: 13px">
                <h5 style="margin-left: 5px"> <i class="fa fa-cloud"></i> Conztanz </h5>
             </div>
                  <div class="panel-widgets">
                                    
                                    <a style="color: black" href="#collapseOne" data-parent="#accordion" data-toggle="collapse"><i class="fa-chevron-down fa"></i></a>
                                </div>  <div class="clearfix"></div> </div> <!--panel heading ends-->

            <div class="panel-collapse1 collapse in" id="collapseOne">
  
      <div  class="panel-body1">

           
          
 
<div  class="table-responsive">
<table class="table table-bordered">
    
    <thead>
        
    <tr>
        
      
                                                                             
                    </tr>
                                        </thead>

    <tbody>
                                            <tr>
                                                <td><i style="color: green" class="fa fa-circle"></i><span style="padding: 15px"> Chef </span></td>
                                                <td><i class="fa fa-check-circle-o"></i> <button style="color: green"> 1</button></td>
                                                </tr>
        <tr>
                                                <td><i style="color: green" class="fa fa-circle"></i><span style="padding: 15px"> Jira </span></td>
            <td><i class="fa fa-check-circle-o"></i> <button style="color: green">4</button></td>
            </tr>
        <tr>
        <td><i style="color: red" class="fa fa-circle"></i><span style="padding: 15px"> Jenkins </span></td>
        <td><i class="fa fa-wrench"></i> <button style="color: red">4</button></td>
        </tr>

        <tr>
        <td><i style="color: green" class="fa fa-circle"></i><span style="padding: 15px"> Crowd </span></td>
        <td><i class="fa fa-check-circle-o"></i> <button style="color: green">4</button></td>
        </tr>
        <tr>
        <td><i style="color: red" class="fa fa-circle"></i><span style="padding: 15px"> Apache</span></td>
        <td><i class="fa fa-wrench"></i> <button style="color: red">4</button></td>
        </tr>
        <tr>
        <td><i style="color: red" class="fa fa-circle"></i><span style="padding: 15px"> Tomcat</span></td>
        <td><i class="fa fa-wrench"></i> <button style="color: red">4</button></td>
        </tr>
        <tr>
        <td><i style="color: red" class="fa fa-circle"></i><span style="padding: 15px"> MySql</span></td>
        <td><i class="fa fa-wrench"></i> <button style="color: red">4</button></td>
        </tr>

 </table>                                          
      </div> <!--table responsive ends-->
 </div> <!--panel body ends-->
</div> <!--panel collapse ends-->
              </div> <!--panel default ends-->
            </div>
        </div>
              <br>

              
    <div class="row nolrmargin"> 
        <div class="col-lg-12">
        <div class="panel panel-default1">
              <div class="panel-heading1" style="padding:2px 2px">
                <div class="panel-title" style="float: left;font-size: 13px">
                <h5 style="margin-left: 5px"> <i class="fa fa-cloud"></i> RL DevOps </h5>
             </div>
                  <div class="panel-widgets">
                                    
                                    <a style="color: black" href="#collapseTwo" data-parent="#accordion" data-toggle="collapse"><i class="fa-chevron-down fa"></i></a>
                                </div>  <div class="clearfix"></div> </div> <!--panel heading ends-->

            <div class="panel-collapse1 collapse" id="collapseTwo">
  
      <div  class="panel-body1">

           
          
 
<div  class="table-responsive">
<table class="table table-bordered">
    
    <thead>
        
    <tr>
        
      
                                                                             
                    </tr>
                                        </thead>

    <tbody>
                                            <tr>
                                                <td><i style="color: green" class="fa fa-circle"></i><span style="padding: 15px"> Chef </span></td>
                                                <td><i class="fa fa-check-circle-o"></i> <button style="color: green"> 1</button></td>
                                                </tr>
        <tr>
                                                <td><i style="color: green" class="fa fa-circle"></i><span style="padding: 15px"> Jira </span></td>
            <td><i class="fa fa-check-circle-o"></i> <button style="color: green">4</button></td>
            </tr>
        <tr>
        <td><i style="color: red" class="fa fa-circle"></i><span style="padding: 15px"> Jenkins </span></td>
        <td><i class="fa fa-wrench"></i> <button style="color: red">4</button></td>
        </tr>

        <tr>
        <td><i style="color: green" class="fa fa-circle"></i><span style="padding: 15px"> Crowd </span></td>
        <td><i class="fa fa-check-circle-o"></i> <button style="color: green">4</button></td>
        </tr>
        <tr>
        <td><i style="color: red" class="fa fa-circle"></i><span style="padding: 15px"> Apache</span></td>
        <td><i class="fa fa-wrench"></i> <button style="color: red">4</button></td>
        </tr>
        <tr>
        <td><i style="color: red" class="fa fa-circle"></i><span style="padding: 15px"> Tomcat</span></td>
        <td><i class="fa fa-wrench"></i> <button style="color: red">4</button></td>
        </tr>
        <tr>
        <td><i style="color: red" class="fa fa-circle"></i><span style="padding: 15px"> MySql</span></td>
        <td><i class="fa fa-wrench"></i> <button style="color: red">4</button></td>
        </tr>


 </table>                                          
      </div> <!--table responsive ends-->
 </div> <!--panel body ends-->
</div> <!--panel collapse ends-->
              </div> <!--panel default ends-->
            </div>
        </div>
<br>
<!--domain 3 -->

                  
    <div class="row nolrmargin"> 
        <div class="col-lg-12">
        <div class="panel panel-default1">
              <div class="panel-heading1" style="padding:2px 2px;background-color: white">
                <div class="panel-title" style="float: left;font-size: 13px">
                <h5 style="margin-left: 5px"> <i class="fa fa-cloud"></i> RL Eval </h5>
             </div>
                  <div class="panel-widgets">
                                    
                                    <a style="color: black" href="#collapseThree" data-parent="#accordion" data-toggle="collapse"><i class="fa-chevron-down fa"></i></a>
                                </div>  <div class="clearfix"></div> </div> <!--panel heading ends-->

            <div class="panel-collapse1 collapse" id="collapseThree">
  
      <div  class="panel-body1">

           
          
 
<div  class="table-responsive">
<table class="table table-bordered">
    
    <thead>
        
    <tr>
        
      
                                                                             
                    </tr>
                                        </thead>

    <tbody>
                                            <tr>
                                                <td><i style="color: green" class="fa fa-circle"></i><span style="padding: 15px"> Chef </span></td>
                                                <td><i class="fa fa-check-circle-o"></i> <button style="color: green"> 1</button></td>
                                                </tr>
        <tr>
                                                <td><i style="color: green" class="fa fa-circle"></i><span style="padding: 15px"> Jira </span></td>
            <td><i class="fa fa-check-circle-o"></i> <button style="color: green">4</button></td>
            </tr>
        <tr>
        <td><i style="color: red" class="fa fa-circle"></i><span style="padding: 15px"> Jenkins </span></td>
        <td><i class="fa fa-wrench"></i> <button style="color: red">4</button></td>
        </tr>

        <tr>
        <td><i style="color: green" class="fa fa-circle"></i><span style="padding: 15px"> Crowd </span></td>
        <td><i class="fa fa-check-circle-o"></i> <button style="color: green">4</button></td>
        </tr>
        <tr>
        <td><i style="color: red" class="fa fa-circle"></i><span style="padding: 15px"> Apache</span></td>
        <td><i class="fa fa-wrench"></i> <button style="color: red">4</button></td>
        </tr>
        <tr>
        <td><i style="color: red" class="fa fa-circle"></i><span style="padding: 15px"> Tomcat</span></td>
        <td><i class="fa fa-wrench"></i> <button style="color: red">4</button></td>
        </tr>
        <tr>
        <td><i style="color: red" class="fa fa-circle"></i><span style="padding: 15px"> MySql</span></td>
        <td><i class="fa fa-wrench"></i> <button style="color: red">4</button></td>
        </tr>


 </table>                                          
      </div> <!--table responsive ends-->
 </div> <!--panel body ends-->
</div> <!--panel collapse ends-->
              </div> <!--panel default ends-->
            </div>
        </div>


            </div>  </div> <!--leftcontainer ends-->
      
      <div class="rightcontainer">
          <h3 style="margin-left:5px">Charts</h3>
      
          </div> <!--rightcontainer ends-->
      </div> <!--col-lg-12 ends-->
    
     </div> <!--content1 ends-->

    <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <!-- scripts concatenated and minified via build script -->

    <!--Bootstrap JS-->
    <script src="js/bootstrap.js"></script>
  <script src="js/plugins.js"></script>
  
    <!--custom css-->
 <!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
	
   
    <script src="js/jquery.flot.js"></script>

	<script src="js/chartdata.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="js/morris/morris.min.js"></script>
    <script src="js/morris/morris.js"></script>

    <!--x charts-->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="js/xcharts.js"></script>
    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <script src="js/morrisdemo.js"></script>


    <!--sparkline-->

   
		<script src="js/plugins/jquery.sparkline.js"></script> 

    
		<!-- MAIN APP JS FILE -->
		<script src="js/app.js"></script>

    
  <!-- end scripts -->

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
	
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
 </script>






    </body>
    </html>
