

    
    .content1
{
    
    margin-left: 110px;
    font-size: 15px;
    margin-right: 110px;
}

ul li
{
    list-style: none; 
}
   


.content
{
   
    width: 100%;
}

.left
{
    margin-left: 80px;
    font-size:15px;
    width: 25%;
    float: left;
   
    margin-bottom: 10px;
    
}
    .left>h4
    {
        color:#a94442;
    }
    
.right
{
    font-size: 15px;
    width: 25%;
    float: left;
    margin-left: 90px;
 
    margin-bottom: 10px;
}
    .right>h4
    {
        color: #a94442;
    }

.rightright
    {
        width: 25%;
        float: left;
        font-size: 15px;
  
        margin-bottom: 10px;
        margin-left: 90px;
    }
    
    .rightright>h4
    {
        color: #a94442;
    }
    
    
    .left1
{
    margin-left: 90px;
    font-size:15px;
    width: 25%;
    float: left;
   
    margin-bottom: 10px;
    
}
    .left1>h4
    {
        color:#a94442;
    }
    
.right1
{
    font-size: 15px;
    width: 25%;
    float: left;
    margin-left: 90px;
 
    margin-bottom: 10px;
}
    .right1>h4
    {
        color: #a94442;
    }

.rightright1
    {
        width: 25%;
        float: left;
        font-size: 15px;
  
        margin-bottom: 10px;
        margin-left: 90px;
    }
    
    .rightright1>h4
    {
        color: #a94442;
    }
    

@media (max-width:768px) {
    
    .content1
{
    
    margin-left: 20px;
    font-size: 15px;
    margin-right: 20px;
}
    .left {
        margin-left: 10px;
        font-size: 14px;
        width: 30%;
        float: left;
        
        margin-bottom: 10px;
        margin-right: 5px;
    }

    .right {
        font-size: 14px;
        width: 30%;
        float: left;
        margin-left: 30px;
       
        margin-bottom: 10px;
        margin-right: 5px;
    }

.rightright
    {
        width: 28%;
        float: left;
        font-size: 14px;
        
        margin-bottom: 10px;
        margin-left: 30px;
        margin-right: 5px;
    }

/*Media query for different blogs*/

.left1 {
        margin-left: 60px;
        font-size: 14px;
        width: 35%;
        float: left;
        
        
        margin-right: 25px;
    }

    .right1 {
        font-size: 14px;
        width: 35%;
        float: left;
        margin-left: 60px;
       
        
        margin-right: 25px;
    }

.rightright1
    {
        width: 35%;
        float: left;
        font-size: 14px;
        
       
        margin-left: 60px;
        margin-right: 25px;
    }


} /*Media query for 768 px ends*/
    
    
    /* Portrait tablet to landscape and desktop */
@media (min-width: 769px) and (max-width: 1025px)
 
    {
    .content1
{
    
    margin-left: 20px;
    font-size: 15px;
    margin-right: 20px;
}
     
    .left {
        margin-left: 25px;
        font-size: 15px;
        width: 30%;
        float: left;
        margin-bottom: 10px;
    }



    .right {
        font-size: 15px;
        width: 30%;
        float: left;
        margin-left: 25px;
        margin-bottom: 10px;
    }


    .rightright {
        width: 30%;
        float: left;
        font-size: 15px;
        margin-bottom: 10px;
        margin-left: 25px;
    }

/*Page Tabs Media Query*/ /*Important*/

    .left1 {
        margin-left: 90px;
        font-size: 15px;
        width: 25%;
        float: left;
        margin-bottom: 10px;
    }



    .right1 {
        font-size: 15px;
        width: 25%;
        float: left;
        margin-left: 60px;
        margin-bottom: 10px;
    }


    .rightright1 {
        width: 25%;
        float: left;
        font-size: 15px;
        margin-bottom: 10px;
        margin-left: 60px;
    }
}

    
    @media (max-width:380px)
    {
        
        
        
        
        
        
        
        
    }