/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html 
{ 
    font-size: 100%; 
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%; 
  
}

html, 
button, 
input, 
select, 
textarea 
{ 
    font-family: sans-serif; 
    color: #222; 
    
}

.hidePanel {
    display: none;
}
body 
{ margin: 0; 
  font-size: 1em; 
  line-height: 1.4; 
 background:url(".png");
}



.content
{
    float: right;
    width: 82%;
    }



.page-title
{
    margin: 0px 0px;
}

.page-title > h2
{
    margin-bottom: 10px;
    
    font-size: 26px;
}

.page-title >small
{
    font-size: 18px;
}


/* Server Load */

.tile
{
    
    margin-bottom: 30px;
    color: #fff;
    padding: 15px;
}

.light
{
    
    background-color:#16a085 ;/*#bdc3c7 #cf4435*/
}

.text-faded
{
    color: rgba(255,255,255,0.7);
}

/*Flot Chart */

.flot-chart
{
    display: block;
    height: 200px;
}

.flot-chart-dashboard
{
    height: 240px;

}

.flot-chart-content
{
    width: 100%;
    height: 100%;
}

/*Sidebar properties*/

             .side {
            float: left;
            width: 220px;
            margin-top: 0px;
            margin-left: -250px;
            left: 250px;
            background-color: #2c3e50; /*Initial #54677a*/
            position: absolute;
            height: 350%;
            overflow-y: auto;
            z-index: 1000;
            transition: all 0.4s ease 0s;
            font-size: 14px;
        }



        .sidebar-nav {
            position: relative;
            top: 0;
            width: 220px;
            list-style: none;
            margin: 0;
            padding: 0px;
            color: white;
        }

        .sidebar-nav li {
            line-height: 50px;
            text-indent: 7px; /*Text Indent Changed*/
        }

        .sidebar-nav li a {
            color: white; /*Color Changed from #999999*/
            display: block;
            text-decoration: none;
            position: relative;
            /*  border-top: 1px solid black;
        border-bottom: 1px solid grey  ;*/
            border-bottom: 1px solid #142638 ; /*4A4A4A*/
            border-top: 1px solid #54677a; /*858585*/
          /* background: linear-gradient(to bottom, #464646 0%, #363636 50%) repeat-x scroll 0 0 #444444;
   */
          
        }



        

        .sidebar-nav li a.active {
            background-color: #54677a; /*Changed from #2c3e50*/
            text-decoration: none;
        }

        /*Sidebar Dropdown properties*/




        .sidebar-nav > li.dropdown > ul.nav-collapse {
            position: relative;
            min-width: 200px;
            margin: 0;
            padding: 0;
            border: none;
            border-radius: 0;
            background-color: #ecf0f1;
            box-shadow: none;
            -webkit-box-shadow: none;
        /*    border-bottom: 1px solid black; */ /*New Addition*/
        
        }

 .sidebar-nav > li.dropdown > ul.nav-collapse1.in {
            position: relative !important;
            min-width: 200px !important;
            margin: 0 !important;
            padding: 0 !important;
            border: none !important;
            border-radius: 0 !important;
            background-color:#ecf0f1 ;/*#ecf0f1*/
            box-shadow: none;
            -webkit-box-shadow: none;
            border-bottom: 1px solid black !important;  /*New Addition*/
            border-top: none !important;
           
           
        }

        .sidebar-nav > li.dropdown > ul.nav-collapse > li > a {
            color: black;
            padding: 0px 10px 0px 25px;
            border-top: none;
            border-bottom: none;
            border-right: 1px solid;  /*New Addition*/
           
            }

 .sidebar-nav > li.dropdown > ul.nav-collapse1.in > li > a {
            color: white;
            padding: 0px 10px 0px 25px;
            border-top: none;
            border-bottom: none;
            background-color: #34495e;
         }


.sidebar-nav > li.dropdown > ul.nav-collapse1.in > li > a:hover {
            background-color: #517398;
        }


.sidebar-nav > li.dropdown > ul.nav-collapse > li > a:hover {
            background-color: #e0e7e8;
        }

 .sidebar-nav > li.dropdown > ul.nav-collapse1.in > li> a.active
{
    background-color: #54677a;
} 


 


        /*Sidebar Properties Ends*/

        .sidebar-nav > .sidebar-brand {
            height: 65px;
            line-height: 50px;
            font-size: 18px;
            text-indent: 48px; /* New Addition*/
        }

        .sidebar-nav > .sidebar-brand a {
            color: white; /*Color changed to white from #999999*/
            border-top: none;
            border-bottom: none;
        }

        .sidebar-nav > .sidebar-brand a:hover {
            color: #000; /*Color changed from #fff*/
            background: none;
            text-decoration: none;
        }
 .sidebar-nav li a:hover {
            color: white;
            background: rgba(255,255,255,0.2) ;
            text-decoration: none;
        }



 .sidebar-nav li a.active:hover
{
    background: rgba(255,255,255,0.2);
}



        .sidebar-nav li a {
            color: white; /*Color Changed from #999999*/
            text-decoration: none;
            position: relative;
            display: block;
        }


/*No Margin for row starts*/
        .nolrmargin {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }



        #menu-toggle {
            display: inline-block;
        }

        .inset {
            padding: 15px;
        }
    
    
    

    


    /*Main Page*/   


    
/*Containers*/

.source
{
    float:right;
    margin-top: 20px;
   margin-right: 0px;
    width: 20%;
    background-color:white;
    display: inline;
 /*   border-width: 1px;
    border-color: black;
    border-style:solid;*/
       }
.source>h3
{
    margin-top: 5px;
}

.source>p
{
    margin-left: 40px;
}

 .zabbix
{
    float:left;
    margin-top: -10px;
    width: 80%;  
    background-color:white; 
    height: 290px; 
  /*  border-width: 1px;
    border-color: black;
    border-style:solid; */
       
} 

.zabbixcont
{
   float:left;
    margin-top: 10px;
    margin-left: 0px;
    width: 100%; /*78*/
    background-color:black; /*#858585 #54677a*/
    height: 210px; /*240*/
    border-width: 1px;
    border-color: black;
    border-style:solid; 
    overflow: auto;
    color: white;
}

.newRelic

    
{
    float:left;
    margin-top: -20px;
    width: 80%; /*78*/
    background-color:white; /*#858585 #54677a*/
    height: 290px; /*240*/
 /*   border-width: 1px;
    border-color: black;
    border-style:solid; */
}


.newreliccont
{
   float:left;
    margin-top: 10px;
    margin-left: 0px;
    width: 100%; /*78*/
    background-color:#2c3e50; /*#858585 #54677a*/
    height: 210px; /*240*/
    border-width: 1px;
    border-color: black;
    border-style:solid; 
    overflow: auto;
    color: white;
}

.logstash
{
   
    float:left;
    margin-top: -20px;
    width: 80%; /*78*/
    background-color:white; /*#858585 #54677a*/
    height: 290px; /*240*/
 /*  border-width: 1px;
    border-color: black;
    border-style:solid; */
}



.logstashcont
{
   float:left;
    margin-top: 10px;
    margin-left: 0px;
    width: 100%; /*78*/
    background-color:black; /*#858585 #54677a*/
    height: 210px; /*240*/
    border-width: 1px;
    border-color: black;
    border-style:solid; 
    overflow: auto;
    color: white;
}


.containerIns
{
    float:left;
    margin-top: 10px;
    margin-left: 0px;
    width: 78%;
   /* background-color:black;*/
    height: 240px;
    border-width: 1px;
    border-color: black;
    border-style:solid; 
    overflow: auto;
    color: white;
}

.caret1 {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px; 
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/*Real Time Updates*/

.demo-container {
	box-sizing: border-box;
	width: 650px;
	height: 350px;
	padding: 20px 15px 15px 15px;
/*	margin: 10px auto 20px auto;*/
	border: 1px solid #ddd;
	background: #fff; 
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.demo-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	
}

/* -- Circle Tiles */

.circle-tile {
    
    margin-bottom: 15px;
    text-align: center;
    
    
}

.circle-tile-heading {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto -40px;
    border: 3px solid rgba(255,255,255,0.3);
    border-radius: 50%;
    color: #fff;
    transition: all ease-in-out .3s;
}

.circle-tile-heading .fa {
    line-height: 80px;
}

.circle-tile-content {
    padding-top: 50px;
}

.circle-tile-number {
    padding: 5px 0 15px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}

.circle-tile-description {
    text-transform: uppercase;
}

.circle-tile-footer {
    display: block;
    padding: 5px;
   
    background-color:#2c3e50;
    color: white;
    
}

.circle-tile-footer:hover {
    text-decoration: none;
    color:#fff;
    background-color: #2c3e50;
}

.circle-tile-heading.dark-blue:hover {
    background-color: #2c3e50;
   
}

.circle-tile-heading.green:hover {
    background-color: #2a4747;
}

.circle-tile-heading.orange:hover {
    background-color: #901515;
}

.circle-tile-heading.blue:hover {
    background-color: #54677a;
}

.circle-tile-heading.red:hover {
    background-color: #cf4435;
}

.circle-tile-heading.purple:hover {
    background-color: #7f3d9b;
}

.circle-tile-heading.grey:hover {
    background-color: #517398;
}

/* Circle Tile Ends*/


/* -- Background Helper Classes */

/* Use these to cuztomize the background color of a div. These are used along with tiles, or any other div you want to customize. */

 .dark-blue {
    background-color:#34495e ; /*#266177*/
}

.grey {
    background-color: #54677a ; /*#54677a*/
}

.blue {
    background-color: #517398 ; /*#558188*/
}

.orange {
    background-color: #ab3334;
    }


.red {
    background-color: #e74c3c;
}

.purple {
    background-color: #8e44ad;
}

.dark-gray {
    background-color: #7f8c8d;
}

.gray {
    background-color: #95a5a6;
}

.light-gray {
    background-color: #bdc3c7;
}

.yellow {
    background-color: #f1c40f;
}

/* -- Text Color Helper Classes */

 .text-dark-blue {
    color: #34495e;
}

.text-green {
    color: #16a085;
}

.text-blue {
    color: #2980b9;
}

.text-orange {
    color: #f39c12;
}

.text-red {
    color: #e74c3c;
}

.text-purple {
    color: #8e44ad;
}

.text-faded {
    color: rgba(255,255,255,0.7);
}

/* Helper Ends*/


/*for ContentProject Page */

/*
.topbar{  
    
  list-style: none;
  background-color: #138f77;
  border-radius: 2px;
  font-size: 16px;
  
  } */

/*Jquery Top*/

#back-top {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    bottom: 20px;
    cursor: pointer;
    display: block;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 45px;
    z-index: 9999;
    
}
#back-top:hover {
    background: none repeat scroll 0 0 rgba(255, 153, 0, 0.75);
    text-decoration: none;
}
#back-top i {
    color: #FFFFFF;
}

/*Domain role*/ /*Instances page Important*/

.domain-role-thumbnail {
    border-radius: 5px;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    max-height: 145px;
    max-width: 109px;
    width: 41%;
}

.domain-roles {
    background-image: linear-gradient(to bottom, #F9F9F9 0%, #EDEBF4 100%);
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    margin-left: 4px;
    margin-top: 3px;
    max-width: 100px;
    min-height: 145px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
}

.instance-details-list {
    border-top: 1px solid;
    font-size: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    }

.instance-details-item {
    display: block;
}

.instance-bootstrap-list {
    border-top: 1px solid;
    font-size: 10px;
    padding-top: 10px;
    text-align: center;
}

.instance-active {
    color: #008000;
}

.content-container {
    display: block;
    height: 99%;
}


.main-content {
    /*background: linear-gradient(to bottom, #FFFFFF 0%, #F0F0F0 100%) repeat-x scroll 0 0 #066ECD;
    display: block;*/
    float: left;
    height: 100%;
    max-height: 89%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 85%;
}

.nobody
{
    padding: 0px !important;
}

/*For Mobile*/

@media (max-width:767px)
{
           .side {
            float: left;
            width: 0;
            margin-top: 0;
            margin-left: 0;
            left: 0;
            background-color: none; /*Initial #54677a*/
            
            height: 0;
            overflow-y: auto;
            z-index: 1000;
            transition: all 0.4s ease 0s;
            font-size: 14px;
        }


.content
{
    float: left;
    width: 100%;
    margin-top: 0px;
    }
      
}





::-moz-selection { background: grey; color: #fff; text-shadow: none; }
::selection { background: grey; color: #fff; text-shadow: none; }




/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}



